.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}

/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    overflow: auto;
}
.top-announcement{float: right;height: 24px;display: inline-block;position: relative;}
.panel-body{padding-left: 0px;padding-right: 0px;padding-top: 0px;padding-bottom: 0px}
.table-striped>tbody>tr:nth-of-type(odd){background-color: #f4f4f4}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{border-top:0px;}
.table>tbody>tr>td:nth-child(1){padding-left: 30px}
.table>tbody>tr>td i{font-family: 'open_sansregular'}
.table{margin-bottom: 0px;border-top: 1px solid #d9d9d9}
.holiday-bottom{background-color: #d9d9d9;padding: 30px;padding-top:20px;border-bottom-left-radius:5px;border-bottom-right-radius:5px }
.holiday-bottom p:nth-child(1){font-family: 'tahoma';font-weight:600;letter-spacing: 0.4px;margin-bottom: 5px;}
.holiday-bottom p:nth-child(2){font-family: 'open_sansregular'}
.holiday-bottom h4{margin-top: 20px;margin-bottom:0px;font-family: 'open_sanssemibold';font-size: 18px}
.holiday-bottom h6{margin-top: 5px;margin-bottom:0px;font-family: 'open_sanssemibold'}
@media (min-width: 1300px) {
}
@media (min-width: 1200px) and (max-width: 1299px) {
}


@media (min-width: 992px) and (max-width: 1199px) {
}


@media (min-width: 768px) and (max-width: 991px) {


}
@media (min-width: 0px) and (max-width: 767px) {
	.fixed-content-container{position: relative;}
	.table>tbody>tr>td:nth-child(1){padding-left: 15px}
	.holiday-bottom{padding-left: 15px;padding-right: 15px;padding-top: 20px}
}
@media (min-width: 568px) and (max-width: 767px) {
	
}

@media (min-width: 375px) and (max-width: 567px) {
	
}

@media (min-width:0px) and (max-width: 374px) {

}

