.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
#main-content{position: relative;}
.main-content{
	padding-top: 60px;
	overflow: hidden;
}
.top-breamcrumb{display: none;}
/*.sidebar-menu li.home a .icon{background: url('../images/icon-1w.png');background-size: 30px}*/
/*ul.sidebar-menu li.home{background-color: #57585c}
ul.sidebar-menu li.home a{color: #ffffff}*/

/* ------------------------------------------------ */
/* ----------------- Home Hero -------------------- */
/* ------------------------------------------------ */

.home-hero{
	position: relative;
	height: 406px;
	width: 100%;
}
.home-hero .hero-border{
	border:20px solid #b31f92;
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 6;
	-webkit-transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
}
.home-hero .hero-text1{
	position: absolute;
	top: 17%;
	left: 6%;
	width: 311px;
	z-index: 7;
	-webkit-transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
  -moz-transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
}
.home-hero .hero-text2{
	position: absolute;
	bottom:12%;
	left: 6%;
	width: 311px;
	z-index: 7;
	-webkit-transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
  	-moz-transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  	transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
}
.home-hero .hero-circle{
	position: absolute;
	top:-16%;
	right: -50px;
	width: 910px;
	z-index: 5;
	-webkit-transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
  	-moz-transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  	transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
}
.home-hero .hero-man{
	position: absolute;
	top:-15%;
	right: -30px;
	width: 790px;
	z-index: 6; /* Old z-index: 8; */
	-webkit-transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
  	-moz-transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
  	transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
}
.sidebar-closed .home-hero .hero-circle{
	right: 0px;
}
.sidebar-closed .home-hero .hero-man{
	right: 0px;
}

/* ------------------------------------------------ */
/* --------------- Home Content ------------------- */
/* ------------------------------------------------ */

.home-content{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	position: relative;
	z-index: 9;
	text-align: center;
}
.home-content-container{
	max-width: 1440px;
	width: 100%;
	display: inline-block;
	text-align: left;
}
.home-item{
	border-radius: 4px;
	overflow: hidden;
	background-color: #fff;
	overflow: hidden;
	margin-bottom: 24px;
	box-shadow:  0px 2px 8px rgba(0,0,0,0.08);
}
.content-row2 .col-xs-12{padding-left: 0px;padding-right: 0px;}
.bx-wrapper .bx-viewport{
	border: 0px;
	left: 0px;
}
.home-item1{
	margin-bottom: 25px;
	box-shadow:  none;
	position: relative;
}
.home-item1 .bx-viewport{
	border-radius: 4px;
	background-color: #d9d9d9;
	box-shadow:  none;
}
.home-item1 .ul{width: 100%}
.home-item1 .li{}
.home-item1 .slide1-left{position: absolute;left: 0px;top: 110px;width: 24px;height:40px;background-color: #fff;z-index: 1; }
.home-item1 .slide1-left i{height: 40px;width: 22px;text-align: center;line-height: 40px;font-size: 20px;}
.home-item1 .slide1-right{position: absolute;right: 0px;top: 110px;width: 24px;height:40px;background-color: #fff;z-index: 1; }
.home-item1 .slide1-right i{height: 40px;width: 26px;text-align: center;line-height: 40px;font-size: 20px;}
.home-item1 .slider-item{height: 320px} 
.home-item1 .slider-image{width: 100%;height: 250px;background-color: #000}
.home-item1 h5{padding-left: 15px;padding-right: 15px}
.home-item1 h4{padding-left: 15px;padding-right: 15px;font-size: 14px;font-family: 'open_sanssemibold';height: 16px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}

.home-item2{
	height: 148px;
	background-color: transparent;
	position: relative;
	border-radius: 3px;
	width: 100%;
}
.home-item2 .left{
	height: 100%;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	background-color: #840080;
	color: #fff;
	padding-top: 20px;
	-webkit-transition: 0.6s width cubic-bezier(0.23,1,0.32,1);
    -moz-transition:  width 0.6s cubic-bezier(0.23,1,0.32,1);
    transition: 0.6s  width cubic-bezier(0.23,1,0.32,1);
}
.home-item2 .left i{
	font-size: 30px;
}
.home-item2 .left h4{
	color: #fff;
	position: absolute;
	bottom: 15px;
	left: 15px;
}
.home-item2 .right{
	height: 100%;
	background-color: #fff;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	background: url(../images/home/sec2_holiday.jpg) no-repeat center center; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	padding: 0px;
  	-webkit-transition: 0.6s width cubic-bezier(0.23,1,0.32,1);
    -moz-transition:  width 0.6s cubic-bezier(0.23,1,0.32,1);
    transition: 0.6s  width cubic-bezier(0.23,1,0.32,1);
}
.home-item3{
	height: 148px;
	padding-left: 40px;
	width: 100%;
	position: relative;
}
.home-item3 .bag{
	position: absolute;
	width: 35px;
	top:14px;
	left: 0px;
}
.home-item3 h4{
	position: relative;
	font-size: 16px;
	line-height: 22px;
}
.home-item3 a{
	position: absolute;
	bottom: 15px;
	width: 86px;
}
.home-item3 .people{
	width: 80px;
	position: absolute;
	right: 10px;
	bottom: 15px;
}
.home-item4{
	width: 100%;
	height: 320px;
	margin-bottom: 25px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow:  0px 2px 8px rgba(0,0,0,0.08);
	position: relative;
	display: inline-block;
}
.home-item4 .bx-viewport{
	box-shadow: none;
}
.home-item4 .item4-header{margin-top: 12px;padding-left: 15px;padding-right: 25px;margin-bottom: 0px;font-size: 16px;}
.home-item4 .item4-header2{color:#939598;font-size: 11px;padding-left: 15px;font-family: 'open_sanssemibold';margin-top: 5px;padding-right: 15px;}
.home-item4 .item4-headerbox{border-bottom: 2px solid #f1f2f7;padding-bottom: 0px;}
.home-item4 .slide2-left{position: absolute;right: 45px;bottom: 20px;width: 20px;height:20px;background-color: #9c9b9b;z-index: 1; border-radius: 20px;}
.home-item4 .slide2-left i{height: 20px;width: 18px;text-align: center;line-height: 18px;font-size: 16px;color: #fff}
.home-item4 .slide2-right{position: absolute;right: 20px;bottom: 20px;width: 20px;height:20px;background-color: #9c9b9b;z-index: 1; border-radius: 20px;}
.home-item4 .slide2-right i{height: 20px;width: 22px;text-align: center;line-height: 18px;font-size: 16px;color: #fff}
.home-item4 .bx-wrapper{margin-bottom: 0px;}
.home-item4 .bx-controls{position: absolute;width: 100px;text-align: right;top:-64px;right: 17px;}
.home-item4 .bx-controls .bx-pager{text-align: right;font-size: 0px;}
.home-item4 .bx-controls .bx-pager-item .bx-pager-link{width: 8px;height: 8px;background:#d9d9d9;margin-left: 4px;margin-right: 4px;}
.home-item4 .bx-controls .bx-pager-item .bx-pager-link.active{background:#9c9b9b}
.home-item4 #slider2 .bx-controls .bx-pager{width: auto;}
.home-item4 #slider2 .slider-item{padding-left: 15px;padding-right: 15px;padding-top: 15px;}
.home-item4 #slider2 .slider-item .list-item{height: 71px;overflow: hidden;display: inline-block;width: 100%;}
.home-item4 #slider2 .slider-item .list-item img{width: 95px;display: inline-block;vertical-align: top;}
.home-item4 #slider2 .slider-item .list-item .list-item-p{display: inline-block;width: calc(100% - 100px);padding-left: 5px;vertical-align: top;}
.home-item4 #slider2 .slider-item .list-item .list-item-p .list-item-header{font-family: 'open_sanssemibold';font-size: 13px;margin-top: 0px;margin-bottom: 0px;max-height: 27px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.home-item4 #slider2 .slider-item .list-item .list-item-p .list-item-header2{font-size: 10.3px;margin-top: 5px;margin-bottom: 0px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.home-item4 #slider2 .slider-item .list-item .list-item-p .list-item-header3{font-size: 10px;margin-top: 5px;color:#939598;}


@media (min-width: 1500px) and (max-width: 5000px) {
    .home-hero{height: 350px;}
    .home-hero .hero-border{border:18px solid #b31f92}
    .home-hero .hero-text1{top: 17%;left: 6%;width: 280px}
    .home-hero .hero-text2{bottom:14%;left: 6%;width: 280px}
    /*.home-hero .hero-circle{top:-14%;right: -50px;width: 760px}
    home-hero .hero-man{top:-14%;right: -40px;width: 660px}*/
    
    .home-hero .hero-man{top:12%;right: 0px;width: 100%;}
    .home-hero .hero-circle{top:-14%;right: -50px;width:42%}
}

@media (min-width: 1200px) and (max-width: 1499px) {
	.home-hero{height: 350px;}
    .home-hero .hero-border{border:18px solid #b31f92}
	.home-hero .hero-text1{top: 17%;left: 6%;width: 280px}
	.home-hero .hero-text2{bottom:14%;left: 6%;width: 280px}
	/*.home-hero .hero-circle{top:-14%;right: -50px;width: 760px}
	.home-hero .hero-man{top:-14%;right: -40px;width: 660px}*/
	
	.home-hero .hero-man{top:12%;left: 0px;width: 1450px;}
	.home-hero .hero-circle{top:-14%;right: -50px;width: 620px}

	.home-item2{height: 320px;border-radius: 3px}
	.home-item2 .left{height: 35%;width: 100%;border-radius: 0px;border-top-left-radius:4px;border-top-right-radius:4px;}
	.home-item2 .left i{font-size: 30px;}
	.home-item2 .left h4{color: #fff;top: 18px;left: 55px;}
	.home-item2 .right{height: 65%;width: 100%;border-radius: 0px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
	.home-item4{height: 320;padding-bottom:10px;margin-bottom: 0px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.home-hero{height: 300px;}
    .home-hero .hero-border{border:15px solid #b31f92}
	.home-hero .hero-text1{top: 16%;left: 6%;width: 230px}
	.home-hero .hero-text2{bottom:14%;left: 6%;width: 230px}
	/*.home-hero .hero-circle{top:-14%;right: -70px;width: 640px}
	.home-hero .hero-man{top:-14%;right: -48px;width: 530px}*/
	
	.home-hero .hero-circle{top:-14%;right: -70px;width: 520px}
	.home-hero .hero-man{top:12%;left: 0px;width: 1250px;}
	
	.home-item2{height: 320px;border-radius: 3px}
	.home-item2 .left{height: 35%;width: 100%;border-radius: 0px;border-top-left-radius:4px;border-top-right-radius:4px;}
	.home-item2 .left i{font-size: 30px;}
	.home-item2 .left h4{color: #fff;top: 18px;left: 55px;}
	.home-item2 .right{height: 65%;width: 100%;border-radius: 0px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
	.home-item4{height: auto;padding-bottom:10px;margin-bottom: 0px;}

	.home-item4{height: auto;padding-bottom:30px;}
	.home-item4 #slider2 .slider-item .list-item{width: 50%;height: auto;margin-bottom: 15px;}
	.home-item4 #slider2 .slider-item .list-item .list-item-p {padding-right: 5px;}
	.home-item4 #slider2 .slider-item .list-item .list-item-p .list-item-header2{line-height: 15px}

}


@media (min-width: 768px) and (max-width: 991px) {
	.home-hero{height: 260px;}
    .home-hero .hero-border{border:13px solid #b31f92}
	.home-hero .hero-text1{top: 17%;left: 6%;width: 170px}
	.home-hero .hero-text2{bottom:15%;left: 6%;width: 170px}
	/*.home-hero .hero-circle{top:-14%;right: -90px;width: 560px}
	.home-hero .hero-man{top:-14%;right: -85px;width: 440px}*/
	
	.home-hero .hero-circle{top:-14%;right: -60px;width: 460px}
	.home-hero .hero-man{top:12%;left: 0px;width: 1050px;}
	
	.sidebar-closed .home-hero .hero-circle{
		right: -30px;
	}
	.home-item2{height: 320px;border-radius: 3px}
	.home-item2 .left{height: 35%;width: 100%;border-radius: 0px;border-top-left-radius:4px;border-top-right-radius:4px;}
	.home-item2 .left i{font-size: 30px;}
	.home-item2 .left h4{color: #fff;top: 18px;left: 55px;}
	.home-item2 .right{height: 65%;width: 100%;border-radius: 0px;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;}
	.home-item4{height: auto;padding-bottom:10px;margin-bottom: 0px;}


}
@media (min-width: 0px) and (max-width: 767px) {
	.home-hero-m{width: 100%;}
	.content-row1,.content-row2,.content-row3{
		display: inline-block;
		width: 100%;
	}

	.home-content{padding-left: 0px;padding-right: 0px;}
	.home-item4{height: auto;margin-bottom: 0px;padding-bottom: 30px;}
	.home-item4 #slider2 .slider-item .list-item{height:auto;margin-bottom: 12px;}
	.home-item4 #slider2 .slider-item .list-item .list-item-p .list-item-header3{font-size: 10px;margin-top: 2px;color:#939598;}
}
@media (min-width: 568px) and (max-width: 767px) {
	.content-row2 .col-xs-12{width: 100%}
	.home-item2 .left{width: 60%}
	.home-item2 .right{width: 40%}
	.content-row2 .col-xs-12:nth-child(1){padding-right: 0px}
	.content-row2 .col-xs-12:nth-child(2){padding-left: 0px}
}

@media (min-width: 375px) and (max-width: 567px) {
	.home-item1 .slider-item{height: 270px} 
	.home-item1 .slider-image{width: 100%;height: 200px}
	.home-item1 .slide1-left{top:80px}
	.home-item1 .slide1-right{top:80px}
}

@media (min-width:0px) and (max-width: 374px) {
	.home-item1 .slider-item{height: 230px} 
	.home-item1 .slider-image{width: 100%;height: 160px}
	.home-item1 .slide1-left{top:65px}
	.home-item1 .slide1-right{top:65px}
	.home-item4 .item4-header2{font-size: 10px;}
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 568px) and (max-width: 768px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (min-resolution: 192dpi) and (min-width: 568px) and (max-width: 768px),
only screen and (min-resolution: 2dppx) and (min-width: 568px) and (max-width: 768px) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 480px) and (max-width: 567px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 567px),
only screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 567px) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:300px) and (max-width: 479px),
only screen and (min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (min-resolution: 192dpi) and (min-width:300px) and (max-width: 479px),
only screen and (min-resolution: 2dppx) and (min-width:300px) and (max-width: 479px) {
    
}