
.header { padding-left:30px; }
.login-body { background:url(../images/login-page.jpg) no-repeat top center; background-size: cover; }
.form-signin { margin-top:150px; max-width: 440px; -webkit-box-shadow: rgba(0,0,0,0.20) 0px 3px 7px; -moz-box-shadow: rgba(0,0,0,0.20) 0px 3px 7px; box-shadow: rgba(0,0,0,0.20) 0px 3px 7px;}

.form-signin h2.form-signin-heading { background:#fff; font-family: 'open_sansregular'; font-size:20px; font-weight: normal; color:#57585b; border-bottom: 2px solid #f1f2f7; }

.login-wrap { padding:32px; }

.form-signin input[type="text"], .form-signin input[type="password"] { border: 1px solid #d9d9d9; }

.form-signin .checkbox { color:#959595; font-family: 'open_sansregular'; font-size:13px; font-weight: normal;}

.form-signin a { color:#840080; font-family: 'open_sanssemibold'; font-size:13px; font-weight: normal; }

.form-signin .btn-login { background: #840080; box-shadow: 0 4px #680168; font-family: 'open_sansregular'; font-size:20px; font-weight: normal; text-transform: none; margin-bottom: 10px;}

.form-signin .btn-login:hover { opacity:0.8; }

.modal-header { background:#fff; font-family: 'open_sansregular'; font-size:20px; font-weight: normal; color:#57585b; border-bottom: 2px solid #f1f2f7; }

.modal-content { -webkit-box-shadow: rgba(0,0,0,0.20) 0px 3px 7px; -moz-box-shadow: rgba(0,0,0,0.20) 0px 3px 7px; box-shadow: rgba(0,0,0,0.20) 0px 3px 7px; }

.btn-success, .btn-success:active, .btn-success:focus { background: #840080 !important; border-color: #680168 !important; }
.btn-success:disabled, button.btn-success[disabled]{
    background:#916c94 !important;
    border-color:#916c94 !important;
}
.btn-success:hover, .btn-success:focus, .btn-success:active { background: #840080; border-color: #680168; opacity:0.8;}

.login-footer { position:fixed; bottom: 0px; width: 100%; }
.login-footer-area{ position: relative; display: block; width: 100%; text-align: center; margin: 25px 0; }
.login-footer-area .box-logo { position:relative; display: table; margin: auto; }
.login-footer-area .img { position:relative; display:inline-block; height: 24px; margin: 0px 15px; }
.login-footer-area .img img { height:24px; }

@media (min-width: 1200px) and (max-width: 1300px) {
    
}

@media (min-width: 992px) and (max-width: 1199px) {

}


@media (min-width: 768px) and (max-width: 991px) {

}

@media (min-width: 568px) and (max-width: 767px) {

}

@media (min-width: 480px) and (max-width: 567px) {

}

@media (min-width:300px) and (max-width: 479px) {

}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 568px) and (max-width: 768px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (min-resolution: 192dpi) and (min-width: 568px) and (max-width: 768px),
only screen and (min-resolution: 2dppx) and (min-width: 568px) and (max-width: 768px) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 480px) and (max-width: 567px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 567px),
only screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 567px) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:300px) and (max-width: 479px),
only screen and (min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (min-resolution: 192dpi) and (min-width:300px) and (max-width: 479px),
only screen and (min-resolution: 2dppx) and (min-width:300px) and (max-width: 479px) {
    
}