.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}
.sidebar-menu li.my-development a .icon{background: url('../images/icon-2w.png');background-size: 30px}
ul.sidebar-menu li.my-development{background-color: #57585c}
ul.sidebar-menu li.my-development a{color: #ffffff}

/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
	/*margin-top: 60px;*/
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 181px);
    margin-top: -3px;
    overflow: scroll;
}
.menu-tab{height: 120px;}
.next-container{padding-bottom: 40px;padding-right: 0px;padding-left: 0px;}
.next-container .next{margin-right: 30px;}
.next-container .back{float: left;background-color: none;color: #57585b !important;padding-left: 15px;font-size: 16px;font-family: 'open_sansregular'}
.next-container .back i{margin-right: 5px;font-size: 18px;}

.question-border-container{padding-left: 15px;padding-right: 15px;margin-bottom:10px;position: relative;display: inline-block;width: 100%;}
.question-border-container .question-textarea-container{border-bottom: 1px solid #d9d9d9;padding-bottom: 15px;padding-left: 0px;padding-right: 0px;display: inline-block;width: 100%;}
.question-border-container .question-form-container{border-bottom: 1px solid #d9d9d9;padding-bottom: 15px;padding-top:10px;padding-left: 0px;padding-right: 0px;display: inline-block;width: 100%;}
.question-border-container .question-form-container .header-text{font-family: 'open_sansbold';margin-top: 0px;padding-bottom: 5px;color: #57585b}
.question-border-container .question-form-container .header-text i{margin-right: 8px;color: #57585b}
/* ------------------------------------------------ */
/* ---------------- Map Menu ---------------------- */
/* ------------------------------------------------ */

.map-menu-left{width: 30%;display: inline-block;position: relative;float: left;height: 90px;line-height: 90px;text-align: left;}
.map-menu-left .people{display: inline-block;vertical-align: middle;position: relative;width: 60%;float: left;}
.map-menu-left .people i{color: #57585b;font-size: 30px;vertical-align: middle;top: -4px;position: relative;margin-left: 10px;margin-right: 5px;}
.map-menu-left .people img{width: 40px;top:-3px;position: relative;margin-right: 7px;}
.map-menu-left .people span{color: #57585b;font-family: 'open_sansbold';font-size: 15px;line-height: 14px;display: inline-block;vertical-align: middle;top: -3px;position: relative}

.map-menu-left .print{display: inline-block;width: 40%;float: right;text-align: center;color: #959595}
.map-menu-left .print img{width: 20px;margin-right: 5px;}

.map-menu-right{width: 70%;display: inline-block;position: relative;float: left}
.map-menu-right .menu-right-item{height: 90px;line-height: 90px;padding-left: 15px;padding-right: 15px;padding-left: 10px;padding-right: 10px;}
.map-menu-right .menu-right-item span{line-height: 16px;vertical-align: middle;display: inline-block;font-family: 'open_sansregular';color: #959595;}
.map-menu-right .menu-right-item.active span{font-family: 'open_sanssemibold';color: #840080}
.map-menu-right .left-border{position: absolute;left: 0px;height: 50px;top: 20px;border-left: 1px solid #d9d9d9}
/* ------------------------------------------------ */
/* ---------------- Slider box -------------------- */
/* ------------------------------------------------ */

.question-container{width: 100%;padding-left: 15px;padding-right: 15px;padding-bottom:30px;display: inline-block;}
.question-topbar{
	width: 100%;
	min-height: 40px;
	color: #56575b;
	background-color: #d9d9d9;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'open_sansbold';
	/*line-height: 40px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 17px;
}
.question-content .score-detail {position: relative;display: inline-block;width: 100%;border-bottom: 1px solid #d9d9d9;}
.question-content .score-detail .score-item{
	display: inline-block;
	text-align: center;
	width: 20%;
	margin-right: -4px;
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
}
.question-content .score-detail .score-item span {display: inline-block;vertical-align: middle;line-height: 18px;font-size: 11px;color: #414042}

.question-content .question-detail {position: relative;display: inline-block;width: 100%;border-bottom: 1px solid #d9d9d9;}
.question-content .question-detail .question-left{min-height: 60px;vertical-align: middle;color: #57585b;font-size: 13px;padding-top: 10px;padding-bottom: 10px;line-height: 35px;}
.question-content .question-detail .question-left span{display: inline-block;vertical-align: middle;line-height: normal;}

.question-content .question-detail .question-right{margin-top: 25px;padding-left: 9.3%;padding-right: 10.8%}
.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min{background:none;background-color: #840080 !important}
.slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all:before{
	content:' ';
	width: 8px;
	margin-left: -4px;
	height: 8px;
	background-color: #840080;
	position: absolute;
	border-radius: 8px;
}
.slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all:after{
	content:' ';
	width: 20px;
	right: 0px;
	margin-right: -10px;
	height: 8px;
	background-color: #f1f2f7;
	position: absolute;
	border-radius: 8px;
}
.ui-slider-handle.ui-state-default.ui-corner-all{
	width: 25px;height: 25px;color:#840080;border: 5px solid #840080 !important
}
.question-content .question-detail .question-right .slider-step{
	width: 100%;height: 10px;position: absolute;width: 100%;left: 0px;margin-top: 3px;
}
.question-content .question-detail .question-right .slider-step .slider-step-item{
	width: 20%;height: 10px;text-align: center;float: left;
}
.question-content .question-detail .question-right .slider-step .slider-step-item .step{
	width: 3px;height: 8px;border-radius: 8px;background-color: #f1f2f7;display: inline-block;margin-top: 8px;
}
.question-content .question-detail .question-right .bin{
	width: 16px;
	position: absolute;
	right: 6px;
	top: 17px;
	display: inline-block;
}
.question-content .question-detail .question-right .bin img{
	width: 100%;
}
.question-content .score-count {position: relative;display: inline-block;width: 100%}
.question-content .score-count .score-item{
	display: inline-block;
	text-align: center;
	width: 20%;
	margin-right: -4px;
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
}
.question-content .score-count .score-item span {display: inline-block;vertical-align: middle;line-height: 18px;font-size: 14px;color: #d9d9d9;font-family: 'open_sansbold';padding-left: 5px;}

/* ------------------------------------------------ */
/* ---------------- comment box ------------------- */
/* ------------------------------------------------ */

.question-textarea-container{padding-left: 15px;padding-right: 15px;padding-bottom: 15px;}
.question-textarea-container .header-text{font-family: 'open_sansbold';margin-top: 0px;padding-bottom: 5px;color:#57585b}
.question-textarea-container .header-text i{margin-right: 8px;color: #57585b}

.question-textarea-left{width: 50px;display: inline-block;margin-right: 10px;vertical-align: top}
.question-textarea-left img{width: 100%;border-radius: 50px}

.question-textarea-right{width: calc(100% - 65px);display: inline-block;vertical-align: top}
.question-textarea-right textarea{height: 50px}

/* ------------------------------------------------ */
/* ---------------- input objective --------------- */
/* ------------------------------------------------ */

.objective-item{padding-left: 25px;padding-right:25px;height: auto;border-bottom: 1px solid #d9d9d9;padding-bottom:20px;padding-top:20px;position: relative;}
.objective-item .objective-no{position: absolute;left: 0px;line-height: 34px;font-size: 14px;}
.objective-item .bin{position: absolute;right: 0px;top: 26px;width: 16px;}
.objective-item .bin img{width: 100%;}

.objective-container .add-more-container{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
}
/* ------------------------------------------------ */
/* ------------------- validate ------------------- */
/* ------------------------------------------------ */
.validate-container{width: 100%;text-align: center;padding-top: 30px;padding-bottom: 30px;}
.validate-process-container{position: relative;display: inline-block;}
.validate-process-container .timeline-line{width: 100%;height: 1px;background-color: #d9d9d9;position: absolute;display: inline-block;top: 32px;z-index: 5}

.validate-process-item{height: 65px;width: 200px;border: 2px solid #d9d9d9;border-radius: 60px;background-color: #fff;display: inline-block;margin-right: 30px;vertical-align: middle;z-index: 10;position: relative;}
.validate-process-item img{width: 51px;margin-top:5px;border-radius: 100%;margin-left: 5px;display: inline-block;}
.validate-process-item .text{width: 130px;margin-right:10px;height: 60px;float: right;text-align: center;vertical-align: middle;line-height: 60px;}
.validate-process-item .text span{font-size: 16px;font-family: 'open_sansregular';vertical-align: middle;}
.validate-process-item .text span.check{font-size: 20px;margin-right: 3px;vertical-align: middle;color:#39b549}

.validate-process-item.wait{border: 2px solid #e9e9e9}
.validate-process-item.wait img{opacity: 0.5;}
.validate-process-item.wait .text span{color: #aaa}

.validate-process-file{width: 65px;height: 65px;border: 2px dotted #840080; background-color: #fff;display: inline-block;border-radius: 65px;vertical-align: middle;position: relative;z-index: 10}
.validate-process-file i{line-height: 61px;width: 62px;text-align: center;font-size: 34px;display: inline-block;vertical-align: middle;color: #840080;}
.validate-process-file.validated{border: 2px solid #840080;}

.vilidate-button-container{display: inline-block;margin-left: 60px;}
.validate-button.btn{padding-left: 10px;padding-right: 10px;}
@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
	.validate-process-item{margin-right: 20px;}
	.vilidate-button-container{display: inline-block;margin-left: 20px;}		
}


@media (min-width: 768px) and (max-width: 991px) {
	.question-content .question-detail .question-right .bin{
		right: 0px;
	}
	.question-content .score-detail .score-item span{font-size: 9.3px;line-height: 13px;}
	.question-content .question-detail .question-left span{font-size: 11.5px;}

	/* ------------------------------------------------ */
	/* ---------------- Map Menu ---------------------- */
	/* ------------------------------------------------ */

	.map-menu-left{width: 30%}
	.map-menu-left .people{width: 75%;}
	.map-menu-left .people i{font-size: 30px;top: -4px;margin-left: 5px;margin-right: 0px;}
	.map-menu-left .people img{width: 40px;top:-3px;margin-right: 3px;}
	.map-menu-left .people span{color: #57585b;font-size: 13px;line-height: 13px;top: -3px;}

	.map-menu-left .print{width: 25%}
	.map-menu-left .print img{width: 20px;margin-right: 5px;}


	.map-menu-right{width: 70%;}
	.map-menu-right .menu-right-item{height: 90px;line-height: 90px;padding-left: 10px;padding-right: 10px;}
	.map-menu-right .menu-right-item span{line-height: 15px;font-size: 11px;}
	.map-menu-right .menu-right-item.active span{font-family: 'open_sanssemibold';color: #840080}
	.map-menu-right .left-border{position: absolute;left: 0px;height: 50px;top: 20px;border-left: 1px solid #d9d9d9}

	.validate-process-item{margin-right: 15px;width: 180px;}
	.validate-process-item .text{width: 110px;}
	.validate-process-item .text span{font-size: 15px;}
	.vilidate-button-container{display: block;margin-left: 0px;margin-top: 20px;}	
	
}
@media (min-width: 0px) and (max-width: 767px) {
	.fixed-content-container{position: relative}
	/* ------------------------------------------------ */
	/* ---------------- Map Menu ---------------------- */
	/* ------------------------------------------------ */
	.menu-tab{height: auto;}
	.map-menu-left{width: 100%;height: 60px;line-height: 60px;padding-top: 10px;margin-bottom: 10px;}
	.map-menu-right{width: 100%;height: auto;line-height: auto;padding-left: 15px;padding-right: 15px;}
	.map-menu-right .menu-right-item{height: auto;line-height: 20px;display: block;padding-top:11px;padding-bottom:15px;border-bottom:1px solid #e9e9e9;}
	.map-menu-right .menu-right-item.no-mobile-border{border: none;}
	.map-menu-right .left-border{display: none;}


	.question-container{padding-left: 10px;padding-right: 10px}
	.question-content .question-detail .question-left {
		margin-top: 5px;
	    min-height: auto;
	    vertical-align: middle;
	    color: #57585b;
	    font-size: 13px;
	    padding-top: 0px;
	    padding-bottom: 10px;
	    line-height: 40px;
	    padding-right: 25px;
	}
	.question-content .question-detail .question-left .bin{
		width: 16px;position: absolute;right: 1px;top: 0px;display: inline-block}
	.question-content .question-detail .question-left .bin img{width: 100%}
	.question-content .question-detail .question-right{margin-top: 0px;padding-bottom: 10px;padding-left: 3.9%;padding-right:5%;}
	.slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all:after{margin-right: -10px}
	.question-content .question-detail .question-right .slider-step{width: 114%;left:-7%;top: 8px;}
	.question-content .question-detail .question-right .slider-info{padding-top: 25px;}

	.question-textarea-left{width: 40px;}
	.question-textarea-right{width: calc(100% - 55px)}
	.question-textarea-right textarea{height: 80px}

	.validate-process-container{width: 260px;}
	.validate-process-container .timeline-line{width: 2px;height: 100%;left: 50%;margin-left: -1px;top: 0px;}
	.validate-process-item{margin-bottom: 20px;width: 260px;}
	.validate-process-item img{float: left;margin-left: 5px;}
	.validate-process-item .text{width: 190px;}
	.validate-process-item .text span{font-size: 16px;}

	.vilidate-button-container{display: block;margin-left: 0px;margin-top: 40px;}
}
@media (min-width: 568px) and (max-width: 767px) {
	
}

@media (min-width: 375px) and (max-width: 567px) {
	.question-content .question-detail .question-right .slider-step{width: 114.2%;left:-6.6%;top: 8px;}
}

@media (min-width:0px) and (max-width: 374px) {
	.question-content .question-detail .question-right .slider-step{width: 114.3%;left:-6.7%;top: 8px;}
}

