.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}
.sidebar-menu li.my-development a .icon{background: url('../images/icon-2w.png');background-size: 30px}
ul.sidebar-menu li.my-development{background-color: #57585c}
ul.sidebar-menu li.my-development a{color: #ffffff}

/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
	/*margin-top: 60px;*/
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 181px);
    margin-top: -3px;
    overflow: auto;
}
.menu-tab{height: 120px}
.next-container{padding-bottom: 40px;padding-right: 0px;padding-left: 0px}
.next-container .next{margin-right: 30px}
.next-container .back{float: left;background-color: none;color: #57585b !important;padding-left: 15px;font-size: 16px;font-family: 'open_sansregular'}
.next-container .back i{margin-right: 5px;font-size: 18px}

.question-border-container{padding-left: 15px;padding-right: 15px;margin-bottom:10px;position: relative;display: inline-block;width: 100%}
.question-border-container .question-textarea-container{border-bottom: 1px solid #d9d9d9;padding-bottom: 15px;padding-left: 0px;padding-right: 0px;display: inline-block;width: 100%}
.question-textarea-container.question-disabled textarea{opacity: 0.4}
.question-border-container .question-form-container{border-bottom: 1px solid #d9d9d9;padding-bottom: 15px;padding-top:10px;padding-left: 0px;padding-right: 0px;display: inline-block;width: 100%}
.question-border-container .question-form-container .header-text{font-family: 'open_sansbold';margin-top: 0px;padding-bottom: 5px;color: #57585b}
.question-border-container .question-form-container .header-text i{margin-right: 8px;color: #57585b}
/* ------------------------------------------------ */
/* ---------------- Map Menu ---------------------- */
/* ------------------------------------------------ */

.map-menu-left{width: 30%;display: inline-block;position: relative;float: left;height: 90px;line-height: 90px;text-align: left;}
.map-menu-left .people{display: inline-block;vertical-align: middle;position: relative;width: 60%;float: left;}
.map-menu-left .people i{color: #57585b;font-size: 30px;vertical-align: middle;top: -4px;position: relative;margin-left: 10px;margin-right: 5px;}
.map-menu-left .people img{width: 40px;top:-3px;position: relative;margin-right: 7px;border-radius: 60px;}
.map-menu-left .people span{color: #57585b;font-family: 'open_sansbold';font-size: 15px;line-height: 14px;display: inline-block;vertical-align: middle;top: -3px;position: relative}

.map-menu-left .print{display: inline-block;width: 40%;float: right;text-align: center;color: #959595}
.map-menu-left .print:hover{color: #595959}
.map-menu-left .print img{width: 20px;margin-right: 5px;}

.map-menu-right{width: 70%;display: inline-block;position: relative;float: left}
.map-menu-right .menu-right-item{height: 90px;line-height: 90px;padding-left: 15px;padding-right: 15px;padding-left: 10px;padding-right: 10px;}
.map-menu-right .menu-right-item span{line-height: 16px;vertical-align: middle;display: inline-block;font-family: 'open_sansregular';color: #959595;}
.map-menu-right .menu-right-item.active span{font-family: 'open_sanssemibold';color: #840080}
.map-menu-right .left-border{position: absolute;left: 0px;height: 50px;top: 20px;border-left: 1px solid #d9d9d9}
/* ------------------------------------------------ */
/* ---------------- Slider box -------------------- */
/* ------------------------------------------------ */

.question-container{width: 100%;padding-left: 15px;padding-right: 15px;padding-bottom:30px;display: inline-block;}
.question-topbar{
	width: 100%;
	min-height: 40px;
	color: #56575b;
	background-color: #d9d9d9;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'open_sansbold';
	/*line-height: 40px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 17px;
}
.question-content .score-detail {position: relative;display: inline-block;width: 107%;left: -3.5%}
.question-content .score-detail .score-item{
	display: inline-block;
	text-align: center;
	width: 20%;
	margin-right: -4px;
	vertical-align: middle;
	height: 50px;
	line-height: 50px;
}
.question-content .score-detail .score-item span {display: inline-block;vertical-align: middle;line-height: 18px;font-size: 11px;color: #414042;}

.question-content .question-detail {position: relative;display: inline-block;width: 100%;}
.question-content .question-detail.no-border{border: none;}
.question-content .question-detail .question-left{min-height: 60px;vertical-align: middle;color: #57585b;font-size: 13px;padding-top: 10px;padding-bottom: 10px;line-height: 35px;}
.question-content .question-detail .question-left span{display: inline-block;vertical-align: middle;line-height: normal;}

.question-content .question-detail .question-right{margin-top: 0px;padding-left: 7%;padding-right: 8.4%;}
.ui-slider-range.ui-widget-header.ui-corner-all.ui-slider-range-min{background:none;background-color: #840080 !important}
.slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all:before{
	content:' ';
	width: 8px;
	margin-left: -4px;
	height: 8px;
	background-color: #840080;
	position: absolute;
	border-radius: 8px;
}
.slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all:after{
	content:' ';
	width: 20px;
	right: 0px;
	margin-right: -10px;
	height: 8px;
	background-color: #f1f2f7;
	position: absolute;
	border-radius: 8px;
}
.ui-slider-handle.ui-state-default.ui-corner-all{
	width: 25px;height: 25px;color:#840080;border: 5px solid #840080 !important
}
.question-content .question-detail .question-right .slider-step{
	width: 100%;height: 10px;position: absolute;width: 100%;left: 0px;margin-top: 3px;left: -3%;width: 105.7%;
}
.question-content .question-detail .question-right .slider-step .slider-step-item{
	width: 20%;height: 10px;text-align: center;float: left;
}
.question-content .question-detail .question-right .slider-step .slider-step-item .step{
	width: 3px;height: 8px;border-radius: 8px;background-color: #f1f2f7;display: inline-block;margin-top: 8px;
}
.question-content .question-detail .question-right .bin{
	width: 16px;
	position: absolute;
	right: 6px;
	top: 17px;
	display: inline-block;
}
.question-content .question-detail .question-right .bin img{
	width: 100%;
}
.question-content .score-count {position: relative;display: inline-block;left: -3.5%;width: 107.5%;top: 12px;}
.question-content .score-count .score-item{
	display: inline-block;
	text-align: center;
	width: 20%;
	margin-right: -4px;
	vertical-align: middle;
	height: 25px;
	line-height: 25px;
}
.question-content .score-count .score-item span {display: inline-block;vertical-align: middle;line-height: 18px;font-size: 14px;color: #d9d9d9;font-family: 'open_sansbold';padding-left: 5px;}


/* ------------------------------------------------ */
/* ---------------- comment box ------------------- */
/* ------------------------------------------------ */

.question-textarea-container{padding-left: 15px;padding-right: 15px;padding-bottom: 15px;}
.question-textarea-container .header-text{font-family: 'open_sansbold';margin-top: 0px;padding-bottom: 5px;color:#57585b}
.question-textarea-container .header-text i{margin-right: 8px;color: #57585b}

.question-textarea-left{width: 50px;display: inline-block;margin-right: 10px;vertical-align: top}
.question-textarea-left img{width: 100%;border-radius: 50px}

.question-textarea-right{width: calc(100% - 65px);display: inline-block;vertical-align: top}
.question-textarea-right textarea{height: 50px;resize:none;}
.question-textarea-right .note-editor .note-toolbar.btn-toolbar,
.development-box .note-editor .note-toolbar.btn-toolbar{border-bottom: none !important;padding: 0px;}
.note-editor .note-editable[contenteditable="false"]{background-color: #fff;color: #9d9d9d}
/* ------------------------------------------------ */
/* ---------------- input objective --------------- */
/* ------------------------------------------------ */

.objective-item{padding-left: 25px;padding-right:25px;height: auto;border-bottom: 1px solid #d9d9d9;padding-bottom:20px;padding-top:20px;position: relative;}
.objective-item .objective-no{position: absolute;left: 0px;line-height: 34px;font-size: 14px;}
.objective-item .bin{position: absolute;right: 0px;top: 26px;width: 16px;}
.objective-item .bin img{width: 100%;}

.objective-container{display: inline-block;width: 100%;}
.objective-container .add-more-container{
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 0px;
	padding-right: 0px;
	display: inline-block;
	width: 100%;
}
.objective-text{width: 100%;position: relative;display: inline-block;padding-top: 10px;margin-bottom: 0px;}

.objective-button-container{position: relative;display: inline-block;width: 100%;}
.objective-button-container .left-button{width: calc(50% - 20px);float: left;z-index: 10;position: relative;cursor: pointer;}
.objective-button-container .right-button{width: calc(50% - 20px);float: right;z-index: 10;position: relative;cursor: pointer;}
.objective-button-container .or-span{line-height: 45px;text-align: center;position: absolute;left: 0px;width: 100%;font-family: 'open_sansbold';font-size: 16px;}

.import-h5{font-family: 'open_sansbold'}
.import-box{border: 1px solid #d9d9d9;padding: 0px;margin-bottom: 15px;height: 260px;overflow: auto;}
.import-box input[type="checkbox"] + label span{box-shadow: none;margin-top: -6px;background-color: #fff;}
.import-box .mCSB_container{padding: 10px;padding-right: 12px;}
.import-box .mCSB_scrollTools{width: 8px}
/* ------------------------------------------------ */
/* ------------------- validate ------------------- */
/* ------------------------------------------------ */
.validate-container{width: 100%;text-align: center;padding-top: 30px;padding-bottom: 30px;}
.validate-process-container{position: relative;display: inline-block;}
.validate-process-container .timeline-line{width: 100%;height: 1px;background-color: #d9d9d9;position: absolute;display: inline-block;top: 32px;z-index: 5}

.validate-process-item{height: 65px;width: 200px;border: 2px solid #d9d9d9;border-radius: 60px;background-color: #fff;display: inline-block;margin-right: 30px;vertical-align: middle;z-index: 10;position: relative;}
.validate-process-item img{width: 51px;margin-top:5px;border-radius: 100%;margin-left: 5px;display: inline-block;}
.validate-process-item .text{width: 130px;margin-right:10px;height: 60px;float: right;text-align: center;vertical-align: middle;line-height: 60px;}
.validate-process-item .text span{font-size: 16px;font-family: 'open_sansregular';vertical-align: middle;}
.validate-process-item .text span.check{font-size: 20px;margin-right: 3px;vertical-align: middle;color:#39b549}

.validate-process-item.wait{border: 2px solid #e9e9e9}
.validate-process-item.wait img{opacity: 0.5;}
.validate-process-item.wait .text span{color: #aaa}

.validate-process-file{width: 65px;height: 65px;border: 2px dotted #840080; background-color: #fff;display: inline-block;border-radius: 65px;vertical-align: middle;position: relative;z-index: 10}
.validate-process-file i{line-height: 61px;width: 62px;text-align: center;font-size: 34px;display: inline-block;vertical-align: middle;color: #840080;}
.validate-process-file.validated{border: 2px solid #840080;}

.vilidate-button-container{display: inline-block;margin-left: 60px;}
.validate-button.btn{padding-left: 10px;padding-right: 10px;}

/* ------------------------------------------------ */
/* ------------------- career ------------------- */
/* ------------------------------------------------ */
.map-menu-left.career-left{width: 100%}
.map-menu-left.career-left .people{width: 100%}

/* ------------------------------------------------ */
/* ------------------- career ------------------- */
/* ------------------------------------------------ */

.career-container{width: 100%;background-color: #fff;overflow: hidden;min-height: 550px;padding-bottom: 60px;}
.career-top{width: 100%;background-color: #840080;height: 145px;display: inline-block;position: relative;}
.career-top-img{width: 180px;height:180px;border-radius: 180px;padding: 8px;background-color: #f1f2f7;position: relative;margin-left:70px;margin-top: 50px;display: inline-block;}
.career-top-img img{width: 100%;border-radius: 100px;}

.contact-header{position: absolute;display: inline-block;min-width: 500px;color: #fff;vertical-align: top;margin-top: 50px;margin-left: 35px}
.contact-header1{color: #fff;margin-top: 0px;font-family: 'open_sanssemibold';}
.contact-header2{color: #fff;;font-size: 19px;padding-top: 2px;}

.career-body{padding-left: 288px;padding-top: 35px;}
.career-body .career-item{color: #57585b;padding-bottom: 15px;text-transform: uppercase;display: block;cursor: pointer;}
.career-body .career-item i{color: #840080;margin-right: 8px;font-size: 14px}
.career-body .career-item i.fa-caret-down{color: #57585b}
.career-body .career-item.collapsed i.fa-caret-down{-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
.career-view-detail-btn{height: 34px;line-height:34px;background-color: #f1f2f7;width: 130px;display: inline-block;vertical-align: top;border-radius: 5px;padding-left: 5px;padding-right: 5px;margin-right: 10px;margin-bottom: 15px;}
.career-view-detail-btn img{width: 26px;position: relative;top: -2px}
.career-view-detail-btn a.view-detail{margin-left: 5px;text-decoration: underline;color: #05afe9;font-family: 'open_sansregular'}
.career-view-detail-btn a.del-detail{cursor: pointer;}
.career-view-detail-btn a.del-detail i{float: right;line-height: 34px;font-size: 20px;padding-right: 5px;color: #56575b}
.career-edit-btn{width: 100px;margin-bottom: 15px;vertical-align: top;padding-left: 10px;padding-right: 10px;}
.career-view-detail-span{line-height: 36px;margin-right: 40px}

.career-body .upload-container{display: inline-block;margin-top: 5px;vertical-align: middle;margin-right: 15px;margin-bottom: 10px}
.career-body .upload-container .btn-file{padding-top: 3px;padding-bottom: 3px;padding-left: 11px;padding-right: 15px;font-size: 11px;color: #393939}
.career-body .upload-container .fileupload-preview{font-family: 'open_sansregular';font-size: 11px}
.career-body .upload-container .fileupload.fileupload-exists{margin-bottom: 0px;margin-top: 0px}
/* ------------------------------------------------ */
/* ------------------my dev index ----------------- */
/* ------------------------------------------------ */

.my-dev-index .menu-tab{height: 29px}
.my-dev-index .menu-tab{height: 29px}

.my-dev-index .fixed-content-container{height: calc(100% - 89px);}
.my-dev-header{height: 60px;margin-top: 15px;margin-bottom:15px;}
.my-dev-header img{width: 60px;border-radius: 60px;position: relative;display:inline-block;vertical-align: middle;}
.my-dev-header span{line-height: 60px;font-family: 'open_sanssemibold';font-size: 28px;position: relative;display: inline-block;vertical-align: middle;margin-left: 10px;}

.annual-review{font-family: 'open_sanssemibold'}
.review-left{padding-right: 0px}
.review-right{padding-left: 0px}
.review-link-container{background-color: #916c94;position: relative;border-radius: 4px;margin-bottom: 25px;display: inline-block;width: 100%}
.review-link-container i{color: #fff;position: absolute;font-size: 30px;right: 20px;top: 20px}
.review-link-container h1{padding-left: 15px;color: #fff;margin-bottom:5px;padding-top: 20px;font-family:'open_sanssemibold';margin-top: 0px;}
.review-link-container h5{padding-left: 15px;color: #fff;margin-top: 0px}
.review-link-container h6{padding-left: 15px;padding-right: 15px;color: #fff;border-top:1px solid #a789a9;padding-top: 7px;padding-bottom: 0px;}
.review-link-container.active{background-color: #840080}
.review-link-container.active h6{border-top:1px solid #9d3399}

.table-striped>tbody>tr:nth-of-type(odd){background-color: #f4f4f4}
.table-striped>tbody>tr>td, .table-striped>tbody>tr>th, .table-striped>tfoot>tr>td, .table-striped>tfoot>tr>th, .table-striped>thead>tr>td, .table-striped>thead>tr>th{
	border-top: none;
	font-family: 'open_sansregular';
}
.table-striped .view{text-align: right;padding-right: 20px;}
.table-striped .view a{color: #05afe9;text-decoration: underline;}
img.myjob-guideline-button{height: 18px !important;margin-right: 10px;}
.map-table-img{width: 24px;margin-left: 10px;}

.my-manager-item{padding-left: 15px;padding-right: 15px;border-bottom: solid 1px #f1f2f7;padding-top: 10px;padding-bottom: 10px;}
.my-manager-item img{width: 45px;display: inline-block;border-radius: 45px;vertical-align: top;margin-right: 10px;}
.my-manager-item .item-right{width: calc(100% - 60px);display: inline-block;vertical-align: top;}
.my-manager-item .item-right h6:nth-child(1){margin-top: 5px;font-family: 'open_sanssemibold';color: #840080;margin-bottom: 5px;}
.my-manager-item .item-right h6:nth-child(2){font-family: 'open_sansbold';color: #959595;margin-top: 0px;}
.my-manager-button{padding-left: 15px;padding-right: 15px;padding-top: 15px;}
.my-manager-button .btn{background-color: #f4f4f4;border: 1px solid #d9d9d9}

.useful-link-container{}
.useful-link-item{border-bottom: 1px solid #f1f2f7;padding-bottom: 10px;padding-top:10px;padding-left: 15px;padding-right: 15px;min-height: 57px}
.useful-link-item .useful-img{font-size: 16px;width: 22px;vertical-align: top;display: inline-block;position: relative;margin-right: 10px;margin-top: 0px;}
.useful-link-item span{display: inline-block;width: calc(100% - 40px);vertical-align: top;position: relative;font-size: 12px;font-family: 'open_sansregular';margin-top: 0px}
.useful-link-item span a{color: #57585b;}
.useful-button{width: 100%;margin-top:-1px;border-top: 1px solid #f1f2f7;text-align: center;padding-top: 10px;padding-bottom: 15px;}
.useful-pagiantion .active{background: #840080 !important;color: #fff;}
.useful-pagiantion .active a{color: #fff;}

.previous-year-container{padding: 0px;}
.previous-year-container .bx-wrapper{margin-bottom: 50px;}
.previous-year-container .bx-wrapper .bx-viewport{left: 0px;border: none;box-shadow: none}
.previous-year-container .bx-wrapper .bx-viewport .slider-item{padding:15px;}
.previous-year-container .bx-wrapper .bx-pager.bx-default-pager a{background-color: #d9d9d9;width: 8px;height: 8px;}
.previous-year-container .bx-wrapper .bx-pager.bx-default-pager a:hover,.previous-year-container .bx-wrapper .bx-pager.bx-default-pager a.active{background-color: #9c9b9b}

.previous-year-container .slider-item .year-item{padding-bottom: 0px;}
.previous-year-container .slider-item img{width: 14px;display: inline-block;margin-right: 5px;margin-top: -3px;}
.previous-year-container .slider-item .left{font-family: 'open_sansbold';font-size: 14px;}
.previous-year-container .slider-item .right{font-family: 'open_sansregular';color: #05afe9;text-decoration: underline;float: right;}
.previous-year-container .slider-item .line{width: 2px;height: 40px;background-color: #d9d9d9;margin-left: 6px;}

.upload-file {
    margin: 5px 0 20px;
    font-family: open_sansregular;
    font-size: 13px;
    color: #000;
}
.upload-file label {
    margin-top: 5px;
    overflow: hidden;
    position: relative;
}
.upload-file label input {
    position: absolute;
    top: -50px;
    opacity: 0;
}
.upload-file label .file-btn {
    padding: 3px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: inline-block;
}
.upload-file label .file-btn:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
.upload-file label .file-name {
    margin-left: 3px;
    font-family: 'open_sanslight';
    font-size: 12px;
    display: inline-block;
}
.upload-file .file-list .list-item {
    margin-bottom: 8px;
}
.upload-file .file-list .list-item:last-of-type {
    margin-bottom: 0;
}
.upload-file .file-list .list-item .item-name {
    width: 140px;
    font-family: 'open_sanslight';
    font-size: 12px;
    display: inline-block;
}
.upload-file .file-list .list-item a {
    text-decoration: underline;
    color: #05afe9;
    font-family: 'open_sansregular';
}
.title-application {
    margin-bottom: 6px;
    font-family: open_sansregular;
    font-size: 13px;
    color: #000;
    font-weight: bold;
}
.title-upload {
    font-weight: bold;
}
.div-area {
    min-height: 60px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    background-color: #fff;
}
.div-area ul {
    padding-left: 40px;
}
.div-area ul li {
    list-style: disc;
}


.my-dev-index .review-right .panel {
	width: 100%;
	display: inline-block;	
}
.campaign-date {
    width: 100%;
    margin-bottom: 25px;
    float: left;
}
.campaign-date .date-box {
	width: 50%;
    padding: 35px 15px 15px;
    font-family: 'open_sanssemibold';
    font-size: 70px;
    line-height: 30px;
    text-align: center;
    background: #fff;
	float: left;
}
.campaign-date .date-box span {
	margin-top: 10px;
	font-size: 15px;
	display: block;
}
.campaign-date .date-box.date-left {
    -webkit-border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.campaign-date .date-box.date-right {
	background: #57585b;
	color: #fff;
	-webkit-border-top-right-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-bottomright: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.summernote-no-toolbar .note-toolbar {
	display: none;
}
.btn-left-right {
	width: 100%;
	display: inline-block;
}
.btn-left-right .btn-left {
	float: left;
}
.btn-left-right .btn-right {
	float: right;
}
.with-slider .question-content .question-detail {
	padding-bottom: 20px;
}
.none-border-slider .question-content .question-detail {
	border: 0;
}
.pdf-guide {
	margin-bottom: 15px;
	padding: 5px 10px;
	background: #f1f2f7;
	border-radius: 4px;
    display: inline-block;
    cursor: pointer;
}
.pdf-guide img {
	width: 25px;
}
.question-textarea-right.question-textarea-full {
	width: 100%;
}
.head-dev-plan {
	margin-top: 0;
	font-family: 'open_sanssemibold';
    font-size: 18px;
    color: #840080;
    text-align: center;
}

.development-box {
    margin-bottom: 30px;
	padding: 0 15px 15px;
	background: #d9d9d9;
}
.development-box .sub-topbar {
	padding-left: 0;
	padding-right: 0;
}
.development-box .note-editor .note-editable[contenteditable="false"] {
    background-color: #f1f2f7;
    color: #57585b;
}

/* ------------------------------------------------ */
/* ------------------ Team Data ------------------- */
/* ------------------------------------------------ */

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
	.validate-process-item{margin-right: 20px;}
	.vilidate-button-container{display: inline-block;margin-left: 20px;color: #fff;}		
}


@media (min-width: 768px) and (max-width: 991px) {
	.question-content .question-detail .question-right .bin{
		right: 0px;
	}
	.question-content .score-detail .score-item span{font-size: 9.3px;line-height: 13px;}
	.question-content .question-detail .question-left span{font-size: 11.5px;}

	/* ------------------------------------------------ */
	/* ---------------- Map Menu ---------------------- */
	/* ------------------------------------------------ */

	.map-menu-left{width: 30%}
	.map-menu-left .people{width: 75%;}
	.map-menu-left .people i{font-size: 30px;top: -4px;margin-left: 5px;margin-right: 0px;}
	.map-menu-left .people img{width: 40px;top:-3px;margin-right: 3px;border-radius: 60px;}
	.map-menu-left .people span{color: #57585b;font-size: 13px;line-height: 13px;top: -3px;}

	.map-menu-left .print{width: 25%}
	.map-menu-left .print img{width: 20px;margin-right: 5px;}


	.map-menu-right{width: 70%;}
	.map-menu-right .menu-right-item{height: 90px;line-height: 90px;padding-left: 10px;padding-right: 10px;}
	.map-menu-right .menu-right-item span{line-height: 15px;font-size: 11px;}
	.map-menu-right .menu-right-item.active span{font-family: 'open_sanssemibold';color: #840080}
	.map-menu-right .left-border{position: absolute;left: 0px;height: 50px;top: 20px;border-left: 1px solid #d9d9d9}

	.validate-process-item{margin-right: 15px;width: 180px;}
	.validate-process-item .text{width: 110px;}
	.validate-process-item .text span{font-size: 15px;}
	.vilidate-button-container{display: block;margin-left: 0px;margin-top: 20px;}

	.career-top{height: 125px;display: inline-block;position: relative;}
	.career-top-img{width:  140px;height: 140px;border-radius: 180px;padding: 8px;background-color: #f1f2f7;position: relative;margin-left:40px;margin-top: 30px;display: inline-block;}
	.career-top-img img{width: 100%;border-radius: 100px;}

	.contact-header{position: absolute;display: inline-block;min-width: 500px;color: #fff;vertical-align: top;margin-top: 45px;margin-left: 20px}
	.contact-header1{font-size: 24px;}
	.contact-header2{font-size: 14px;padding-top: 2px;}	
	
	.career-body{padding-left: 200px;padding-top: 25px;}
	.career-body .career-item{padding-bottom: 12px}

	/*-------------- review ---------------*/
	.review-left{padding-right: 15px}
	.review-right{padding-left: 15px}


}
@media (min-width: 0px) and (max-width: 767px) {
	.fixed-content-container{position: relative}
	/* ------------------------------------------------ */
	/* ---------------- Map Menu ---------------------- */
	/* ------------------------------------------------ */
	.menu-tab{height: auto;}
	.map-menu-left{width: 100%;height: 60px;line-height: 60px;padding-top: 10px;margin-bottom: 10px;}
	.map-menu-right{width: 100%;height: auto;line-height: auto;padding-left: 15px;padding-right: 15px;}
	.map-menu-right .menu-right-item{height: auto;line-height: 20px;display: block;padding-top:11px;padding-bottom:15px;border-bottom:1px solid #e9e9e9;}
	.map-menu-right .menu-right-item.no-mobile-border{border: none;}
	.map-menu-right .left-border{display: none;}


	.question-container{padding-left: 10px;padding-right: 10px}
	.question-content .question-detail .question-left {
		margin-top: 5px;
	    min-height: auto;
	    vertical-align: middle;
	    color: #57585b;
	    font-size: 13px;
	    padding-top: 0px;
	    padding-bottom: 10px;
	    line-height: 40px;
	    padding-right: 25px;
	}
	.question-content .question-detail .question-left .bin{
		width: 16px;position: absolute;right: 1px;top: 0px;display: inline-block}
	.question-content .question-detail .question-left .bin img{width: 100%}
	.question-content .question-detail .question-right{margin-top: 0px;padding-bottom: 10px;padding-left: 3.9%;padding-right:5%;}
	.slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content.ui-corner-all:after{margin-right: -10px}
	.question-content .question-detail .question-right .slider-step{width: 114%;left:-7%;top: 8px;}
	.question-content .question-detail .question-right .slider-info{padding-top: 25px;}

	.question-textarea-left{width: 40px;}
	.question-textarea-right{width: calc(100% - 55px)}
	.question-textarea-right textarea{height: 80px}

	.validate-process-container{width: 260px;}
	.validate-process-container .timeline-line{width: 2px;height: 100%;left: 50%;margin-left: -1px;top: 0px}
	.validate-process-item{margin-bottom: 20px;width: 260px}
	.validate-process-item img{float: left;margin-left: 5px}
	.validate-process-item .text{width: 190px}
	.validate-process-item .text span{font-size: 16px}

	.vilidate-button-container{display: block;margin-left: 0px;margin-top: 40px}

	.career-container{min-height: 550px;padding-bottom: 60px;}
	.career-top{text-align: center;height: 280px}
	.career-top .career-top-img{margin-left: 0px;margin-top:30px;width: 140px;height: 140px;padding: 6px}
	.career-top .contact-header{display: block;margin-top: 15px;width: 100%;min-width: auto;margin-left: 0px}

	.career-top .contact-header1{font-size: 24px}
	.career-top .contact-header2{font-size: 16px;padding-left: 30px;padding-right: 30px;line-height: 22px;margin-top:0px;}

	.career-body{padding-left: 20px;}

	/*-------------- review ---------------*/
	.review-left{padding-right: 15px}
	.review-right{padding-left: 15px}
	
	.head-dev-plan {
		margin-top: 15px;
	}
}
@media (min-width: 568px) and (max-width: 767px) {
	
}

@media (min-width: 375px) and (max-width: 567px) {
	.question-content .question-detail .question-right .slider-step{width: 114.2%;left:-6.6%;top: 8px;}
}

@media (min-width:0px) and (max-width: 374px) {
	.question-content .question-detail .question-right .slider-step{width: 114.3%;left:-6.7%;top: 8px;}
}

