.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}
.sidebar-menu li.my-profile a .icon{background: url('../images/icon-1w.png');background-size: 30px}
ul.sidebar-menu li.my-profile{background-color: #57585c}
ul.sidebar-menu li.my-profile a{color: #ffffff}

/* ------------------------------------------------ */
/* ----------------- Profile ---------------------- */
/* ------------------------------------------------ */

.profile-nav{position: relative;}
.profile-nav .user-heading{
	background-color: #840080;
	border-radius: 8px 8px 0 0;
	color: #fff;
	padding-bottom: 10px;
}
.profile-nav .upload-container{position: absolute;width: 100%}
.profile-nav .upload-container input{display: none;}
.profile-nav .upload-container i.fa-camera{
	position: absolute;
	color: #fff;
	right: 15px;
	top: 15px;
	font-size: 18px;
}
.profile-nav .user-heading h1{
	color: #fff;
	font-family: 'open_sanssemibold';
	text-transform: uppercase;
	font-size: 18px;
}
.profile-nav .user-heading p{
	padding-top: 5px;
	font-family: 'open_sansregular';
	font-size: 14px;
}
.profile-nav .user-heading a img{
}
.profile-nav .user-heading.round a{
	border: 6px solid rgba(255,255,255,1);
}
.profile-nav .panel{box-shadow: none}
.profile-nav ul > li > a{
	color:#56575b;
	font-family: 'open_sanssemibold';
	text-transform: uppercase;
	font-size: 13px;
}
.profile-nav ul > li > a > i{
	color:#56575b;
}
.profile-nav ul > li > a:hover, .profile-nav ul > li > a:focus, .profile-nav ul li.active  a{
	border-left:5px solid #916c94;
	background: #d9d9d9 !important;
	color:#56575b !important;
}



.sidebar-closed .home-hero .hero-circle{
	right: 0px;
}
.sidebar-closed .home-hero .hero-man{
	right: 0px;
}

.display-text.emergency-edit{margin-bottom: 20px;width: 100%;padding-left: 15px;padding-right: 15px;display: inline-block;}
.display-text.emergency-edit .left{width: 45px;padding-left: 0px;vertical-align: top;float: left;}
.display-text.emergency-edit .left img{width: 35px;height: 35px;}
.display-text.emergency-edit .right{width: calc(100% - 50px);vertical-align: top;float: left;overflow: visible;}
.display-text.emergency-edit .help-block{margin-left: 45px;}

.emergency-text .left{width: 70px}
.emergency-text .right{width: calc(100% - 80px)}
.add-contact-button{margin-left: 45px;padding-left: 15px;padding-right: 15px;background-color: #414042;color: #fff;margin-bottom: 2px;}
.profile-manager{
	padding-top: 10px;
	padding-bottom: 25px;
}
.profile-manager .left{padding-left: 15px;display: inline-block;width: 110px;}
.profile-manager .left img{width: 105px;border-radius: 150px;border:5px solid #f1f2f7;}
.profile-manager .right{
	padding-left: 15px;
	display: inline-block;
	width: calc(100% - 125px);
	vertical-align: middle;
	font-family: 'open_sansregular';
	line-height: 21px;
}

.profile-manager.edit .left{width: 100%;text-align: center;padding-left: 0px;margin-bottom: 30px;}
.profile-manager.edit .right{width: 100%;padding-right: 15px;}

.profile-button-container{margin-top: 40px;margin-bottom: 20px;}
.btn.profile-edit-button{width: 110px;margin-left: 7px;margin-right: 7px}

.display-text.with-form.password .left{width: 170px}
.display-text.with-form.password .right{width:calc(100% - 175px)}
.display-text.with-form.password .help-block{margin-left: 170px;}

@media (min-width: 1200px) {
	.panel-left{
		padding-right: 5px;
	}
	.panel-right{
		padding-left: 5px;
	}
	.display-text.with-form.password .left{width: 260px}
	.display-text.with-form.password .right{width:calc(100% - 265px)}
	.display-text.with-form.password .help-block{margin-left: 260px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
	
}


@media (min-width: 768px) and (max-width: 991px) {

	
}
@media (min-width: 0px) and (max-width: 767px) {
	.profile-button-container{margin-top: 25px;margin-bottom: 10px;}
	
}
@media (min-width: 568px) and (max-width: 767px) {
	
}
@media (min-width: 0px) and (max-width: 567px) {
	.display-text.with-form.password .left{width: 100px}
	.display-text.with-form.password .right{width:calc(100% - 105px)}
	.display-text.with-form.password .help-block{margin-left: 100px;}
}
@media (min-width: 375px) and (max-width: 567px) {
	
}

@media (min-width:0px) and (max-width: 374px) {
	
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 568px) and (max-width: 768px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (min-resolution: 192dpi) and (min-width: 568px) and (max-width: 768px),
only screen and (min-resolution: 2dppx) and (min-width: 568px) and (max-width: 768px) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 480px) and (max-width: 567px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 567px),
only screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 567px) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:300px) and (max-width: 479px),
only screen and (min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (min-resolution: 192dpi) and (min-width:300px) and (max-width: 479px),
only screen and (min-resolution: 2dppx) and (min-width:300px) and (max-width: 479px) {
    
}