.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}

/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    overflow: auto;
}
/* ------------------------------------------------ */
/* ------------------ News ------------------------ */
/* ------------------------------------------------ */
.news-item{margin-bottom: 15px;margin-top: 15px;}
.news-item .news-item-left{position: relative;display: inline-block;width:220px; vertical-align: top}
.news-item .news-item-left img{width: 100%}
.news-item .news-item-right{position: relative;display: inline-block;width: calc(100% - 220px);margin-left: -5px;padding-left: 20px;}
.news-item .news-item-right h5{margin-top: 0px;margin-bottom:5px;line-height: 27px;position: relative;top: -6px;font-size: 14px;font-family: 'open_sanssemibold'}
.news-item .news-item-right h6{font-size: 14px;color: #939598;margin-top: 0px;}
.news-nav-container{margin-top: 30px;margin-bottom: 15px;position: relative;text-align: center;}
.news-nav-item{width: 32px;height: 32px;position: relative;display: inline-block;background-color: #d9d9d9;line-height: 32px;border-radius: 50px;color: #fff;font-family:'open_sanssemibold';font-size: 14px;margin-left: 3px;margin-right: 3px;}
.news-nav-item:hover{color: #eee;}
.news-nav-item.active{background-color: #840080}
.news-nav-item .fa-angle-left{margin-right: 3px}
.news-nav-item .fa-angle-right{margin-left: 3px}

/* ------------------------------------------------ */
/* ------------------ New Detail ------------------ */
/* ------------------------------------------------ */

.news-detail-container .header-text{font-size: 23px;margin-top: 5px;line-height: 30px;}
.news-detail-container .date-text{font-size: 15px;padding-top: 0px;padding-bottom:10px;color: #939598}
.news-detail-container img{width: 100%;margin-bottom: 30px;}
.news-detail-container p{margin-bottom: 25px;}
.news-detail-container .author-text{font-size: 15px;padding-top: 0px;padding-bottom:25px;color: #939598}
.news-detail-container .news-detail-video{max-width: 100%;display: block;margin: 0px auto 30px;}

@media (min-width: 1300px) {
}
@media (min-width: 1200px) and (max-width: 1299px) {
	/* ------------------ News ------------------------ */
	.news-item .news-item-left{width:180px}
	.news-item .news-item-right{width: calc(100% - 180px);padding-left: 20px}
	.news-item .news-item-right h5{margin-top: 0px;line-height: 24px;top: -5px;font-size: 13px}
	.news-item .news-item-right h6{font-size: 13px}
}


@media (min-width: 992px) and (max-width: 1199px) {
	/* ------------------ News ------------------------ */
	.news-item .news-item-left{width:120px}
	.news-item .news-item-right{width: calc(100% - 120px);padding-left: 15px}
	.news-item .news-item-right h5{margin-top: 0px;line-height: 18px;top: -5px;font-size: 11px}
	.news-item .news-item-right h6{font-size: 11px}
}


@media (min-width: 768px) and (max-width: 991px) {
	/* ------------------ News ------------------------ */
	.news-item .news-item-left{width:210px}
	.news-item .news-item-right{width: calc(100% - 210px);padding-left: 20px}
	.news-item .news-item-right h5{margin-top: 0px;line-height: 24px;top: -5px;font-size: 13px}
	.news-item .news-item-right h6{font-size: 13px}
	/* ------------------ New Detail ------------------ */
	.news-detail-container .header-text{font-size: 20px;line-height: 28px}
	.news-detail-container .date-text{font-size: 14px;}
	.news-detail-container .author-text{font-size: 14px;padding-bottom: 20px}

}
@media (min-width: 0px) and (max-width: 767px) {
	.fixed-content-container{position: relative;}

	/* ------------------ News ------------------------ */
	.news-item{margin-top: 8px;margin-bottom: 5px}
	.news-item .news-item-left{width:180px}
	.news-item .news-item-right{width: calc(100% - 180px);padding-left: 15px}
	.news-item .news-item-right h5{margin-top: 0px;line-height: 24px;top: -5px;font-size: 13px}
	.news-item .news-item-right h6{font-size: 13px}
	.news-nav-container{margin-top: 20px;}
	.news-nav-item{width: 28px;height: 28px;line-height: 28px;font-size: 12px;margin-left: 1px;margin-right: 1px;}
	/* ------------------ New Detail ------------------ */
	.news-detail-container .header-text{font-size: 18px;line-height: 24px}
	.news-detail-container .date-text{font-size: 13px;}
	.news-detail-container .author-text{font-size: 13px;padding-bottom: 20px}
}
@media (min-width: 568px) and (max-width: 767px) {
	
}

@media (min-width: 375px) and (max-width: 567px) {
	/* ------------------ News ------------------------ */
	.news-item .news-item-left{width:115px}
	.news-item .news-item-right{width: calc(100% - 115px);}
	.news-item .news-item-right h5{margin-top: 0px;line-height: 18px;top: -5px;font-size: 11px}
	.news-item .news-item-right h6{font-size: 11px}
}

@media (min-width:0px) and (max-width: 374px) {
	/* ------------------ News ------------------------ */
	.news-item .news-item-left{width:90px}
	.news-item .news-item-right{width: calc(100% - 90px);padding-left: 10px}
	.news-item .news-item-right h5{margin-top: 0px;margin-bottom:0px;line-height: 16px;top: -3px;font-size: 9px}
	.news-item .news-item-right h6{font-size: 9px}
		/* ------------------ New Detail ------------------ */
	.news-detail-container .header-text{font-size: 16px;line-height: 24px}
	.news-detail-container .date-text{font-size: 13px;}
	.news-detail-container .author-text{font-size: 13px;padding-bottom: 20px}

}

