.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}

/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
	/*margin-top: 60px;*/
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    margin-top: 60px;
    overflow: scroll;
}


#leave-modal .modal-footer{text-align: center;}
/* ------------------------------------------------ */
/* ------------------ Team Data ------------------- */
/* ------------------------------------------------ */
.panel-body.noti{padding-bottom: 40px;}
.noti-top{background-color: #d9d9d9;width: 100%;display: inline-block;height: 40px}
.noti-top span{line-height: 40px;font-family: 'open_sanssemibold'}
.noti-container{width: 100%;padding-left: 15px;padding-right: 15px;}
.noti-item{border-bottom: 1px solid #d9d9d9;display: inline-block;width: 100%;padding-top: 2px;padding-bottom: 8px;}
.noti-left{min-height:55px;font-size: 15px;font-family: 'open_sanssemibold';padding-top: 4px;padding-bottom: 4px;}
.noti-left img{width: 55px;border-radius: 50px;margin-right: 10px}
.noti-center{min-height:63px;line-height:63px;vertical-align:middle;font-size: 14px;font-family: 'open_sansbold'}
.noti-right{display: inline-block;position: relative;line-height: 100px;padding-top: 9px;line-height: 18px;width: 100%;font-family: 'open_sansregular'}
.noti-right p{margin-bottom: 2px;}
.noti-right .date{font-size: 11px;margin-top: 0px}
.noti-right .bold{font-family: 'open_sansbold'}
.noti-button{display: inline-block;position: relative;line-height: 100px;padding-top: 9px;line-height: 1;width: 100%}
.noti-button .btn{width: 80px;padding-left: 0px;padding-right: 0px}
.noti-button .btn:hover{color: #fff}
@media (min-width: 1300px) {
}
@media (min-width: 1200px) and (max-width: 1299px) {
}


@media (min-width: 992px) and (max-width: 1199px) {
	/* ------------------ Team Data ------------- */
	.noti-left{font-size: 12px}
	.noti-center{font-size: 12px}
	.noti-left img{margin-right: 5px}
}


@media (min-width: 768px) and (max-width: 991px) {
	/* ------------------ Team Data ------------- */
	.noti-item{padding-top: 8px;}
	.noti-item > .col-xs-12{padding-left: 0px;padding-right: 0px;}
	.noti-left{line-height: 20px;font-size: 14px}
	.noti-center{font-size: 14px;line-height: 20px;min-height: auto;margin-top:10px;}
	.noti-right {margin-bottom: 5px;}
	.noti-button{margin-bottom: 10px;}


}
@media (min-width: 0px) and (max-width: 767px) {
	.fixed-content-container{position: relative;}
	.panel-body.noti{padding-left: 10px;padding-right: 10px;padding-top:10px;}
	/* ------------------ Team Data ------------- */
	.noti-item{padding-top: 8px;}
	.noti-item > .col-xs-12{padding-left: 0px;padding-right: 0px;}
	.noti-left{line-height: 20px;font-size: 14px}
	.noti-center{font-size: 14px;line-height: 20px;min-height: auto;margin-top:10px;}
	.noti-right {margin-bottom: 5px;}
	.noti-button{margin-bottom: 10px;}
	
}
@media (min-width: 568px) and (max-width: 767px) {
	
}

@media (min-width: 375px) and (max-width: 567px) {
	
}

@media (min-width:0px) and (max-width: 374px) {
}

