.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}
.sidebar-menu li.planning a .icon{background: url('../images/icon-3w.png');background-size: 30px}
ul.sidebar-menu li.planning{background-color: #57585c}
ul.sidebar-menu li.planning a{color: #ffffff}

/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
	/*margin-top: 60px;*/
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 181px);
    margin-top: -3px;
    overflow: auto;
}
.menu-tab{height: 120px}
.table-striped1 th{background-color: #d9d9d9;border-left: 1px solid #fff;border-bottom: none !important;}
.table-striped1 thead tr{border: none !important;}
.table-striped1 > tbody > tr:nth-of-type(odd){background-color: #f4f4f4 !important;border-bottom: none;}
.table-striped1 > tbody > tr > td{border: none;font-family: 'open_sansregular'}

.leave-panel{min-height: 550px}
.btn.cancel-btn{padding-left: 5px;padding-right: 5px;background-color: #de0301;color: #fff;}

.status-allowed,.status-pending,.status-rejected,.status-canceled,.approve-status{font-family: 'open_sansbold';font-style: italic;padding-right: 20px;margin-bottom:5px;display: inline-block;}
.status-allowed{color: #39b549 }
.status-pending{color: #faaf40 }
.status-rejected{color: #de0301 }

.checkbox-container{vertical-align: top;margin-right: 20px;margin-bottom: 20px;}
.upload-container{display: inline-block;margin-top: -3px}
.upload-container .btn-file{padding-top: 3px;padding-bottom: 3px;padding-left: 11px;padding-right: 15px;font-size: 11px;color: #393939}
.upload-container .fileupload-preview{font-family: 'open_sansregular';font-size: 11px}

/* ------------------------------------------------ */
/* ------------------ Calendar ------------------- */
/* ------------------------------------------------ */
.panel-body.calendar{padding: 15px;}
.btn.calendar-button{width: 170px;padding-left: 0px;padding-right:0px;}
.fc-state-default, .fc-state-default .fc-button-inner{background-color: #f1f2f7 !important}
.fc-state-active, .fc-state-active .fc-button-inner{border: none;}
.fc-state-active, .fc-state-active .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner{background: #d9d9d9 !important;color: #000 !important}
.fc-event-skin{background-color: #57585b !important;border-color: transparent !important;}
.fc-corner-right .fc-event-inner{border: none;}
.fc-header .fc-corner-left{border-top-left-radius: 4px !important;border-bottom-left-radius: 4px !important}
.fc-grid th{background-color: #9c9b9b !important;color: #fff;}
.fc-content .fc-event{padding: 3px 4px;padding-top:1px;font-family: 'open_sansregular';margin-bottom: 3px;}
.fc-content .fc-event.holiday{background-color: #d9d9d9 !important}
.fc-event-icons img{width: 14px;margin-left: 5px;margin-right: 5px;}
.fc-event.holiday .fc-event-inner{background-color: #d9d9d9 !important;color: #000 !important;overflow: hidden; text-overflow: ellipsis;white-space: nowrap;}
tr td.fc-first,tr td.fc-last{background-color: #f1f2f7 !important}
.icon-meaning{width: 100%;margin-top: 15px;position: relative;display: inline-block;margin-bottom: 20px;}
.icon-meaning .meaning-item{font-size: 12px;vertical-align: middle;color: #6c6d70;font-family: 'open_sansregular';padding-right: 20px;margin-bottom: 9px;display: inline-block;}
.icon-meaning .meaning-item img{width: 20px;margin-right: 5px;position: relative;top: -2px;}

@media (min-width: 1300px) {
}
@media (min-width: 1200px) and (max-width: 1299px) {
}


@media (min-width: 992px) and (max-width: 1199px) {
}


@media (min-width: 768px) and (max-width: 991px) {


}
@media (min-width: 0px) and (max-width: 767px) {

	/* ------------------ Calendar ------------------- */
	.panel-body.calendar{padding-left: 10px;padding-right: 10px;}
	.menu-tab{height: auto;}
	.fixed-content-container{position: relative;}
	#calendar{overflow: scroll;margin-top: 0px;}
	.fc-content{min-width: 550px;}
	.fc-header{min-width: 550px;height:40px;}
	.fc-header-left .fc-button{top: 0px !important}
	.fc-header-right{position: relative;left: auto;top: 0px;}
	.fc-header-title{margin-top: 0px;}
	.fc-header-title h2{margin-bottom: 0px;line-height: 26px !important;font-size: 18px !important;color:#959595;}
	.fc-button{position: relative;top: 0px}
	.fc-button-content{color:#646464 !important}
	.fc-header-right .fc-button{top: 0px !important;}
	.icon-meaning .meaning-item{display: block;}
}
@media (min-width: 568px) and (max-width: 767px) {
	
}

@media (min-width: 375px) and (max-width: 567px) {
	
}

@media (min-width:0px) and (max-width: 374px) {
	
}

