html{}
body{
	/*overflow: hidden;*/
	font-family: 'open_sanssemibold','tahoma';
	color: #57585b;
}
img{
    border:none;
}

a:link, a:hover, a:visited{
    text-decoration:none;
}
a.btn{
	background-color: #ddd;
}

.clear{
    clear:both;
}

.clear-padding{
    padding:0;
}

.clear-margin{
    margin:0;
}
input{margin-right: 0px;}
.overflow-hidden{overflow: hidden !important;}
.border-none{border:none !important;}

select::-ms-expand {
    display: none !important;
}
/* ------------------------------------------------ */
/* ------------ PADDING & MARGIN ------------------ */
/* ------------------------------------------------ */

.nopadding{padding-left: 0px !important;padding-right: 0px !important;}
.padding-0{padding: 0px !important}

.margin-top-0{margin-top: 0px !important}
.margin-top-5{margin-top: 5px !important}
.margin-top-10{margin-top: 10px !important}
.margin-top-15{margin-top: 15px !important}
.margin-top-20{margin-top: 20px !important}
.margin-top-30{margin-top: 30px !important}
.margin-top-40{margin-top: 40px !important}
.margin-top-50{margin-top: 50px !important}
.margin-top-80{margin-top: 80px !important}
.margin-top-100{margin-top: 100px !important}

.margin-bottom-0{margin-bottom: 0px !important}
.margin-bottom-5{margin-bottom: 5px !important}
.margin-bottom-10{margin-bottom: 10px !important}
.margin-bottom-15{margin-bottom: 15px !important}
.margin-bottom-20{margin-bottom: 20px !important}
.margin-bottom-30{margin-bottom: 30px !important}
.margin-bottom-40{margin-bottom: 40px !important}
.margin-bottom-50{margin-bottom: 50px !important}

.margin-left-0{margin-left: 0px !important}
.margin-left-5{margin-left: 5px !important}
.margin-left-10{margin-left: 10px !important}
.margin-left-15{margin-left: 15px !important}
.margin-left-20{margin-left: 20px !important}
.margin-left-30{margin-left: 30px !important}
.margin-left-40{margin-left: 40px !important}
.margin-left-50{margin-left: 50px !important}

.margin-right-0{margin-right: 0px !important}
.margin-right-5{margin-right: 5px !important}
.margin-right-10{margin-right: 10px !important}
.margin-right-1{margin-right: 15px !important}
.margin-right-20{margin-right: 20px !important}
.margin-right-30{margin-right: 30px !important}
.margin-right-40{margin-right: 40px !important}
.margin-right-50{margin-right: 50px !important}

.padding-left-0{padding-left: 0px !important}
.padding-left-5{padding-left: 5px !important}
.padding-left-10{padding-left: 10px !important}
.padding-left-15{padding-left: 15px !important}
.padding-left-20{padding-left: 20px !important}
.padding-left-30{padding-left: 30px !important}
.padding-left-40{padding-left: 40px !important}
.padding-left-50{padding-left: 50px !important}

.padding-right-0{padding-right: 0px !important}
.padding-right-5{padding-right: 5px !important}
.padding-right-10{padding-right: 10px !important}
.padding-right-15{padding-right: 15px !important}
.padding-right-20{padding-right: 20px !important}
.padding-right-30{padding-right: 30px !important}
.padding-right-40{padding-right: 40px !important}
.padding-right-50{padding-right: 50px !important}
.padding-right-60{padding-right: 60px !important}
.padding-right-75{padding-right: 75px !important}

.padding-bottom-0{padding-bottom: 0px !important}
.padding-bottom-5{padding-bottom: 5px !important}
.padding-bottom-10{padding-bottom: 10px !important}
.padding-bottom-15{padding-bottom: 15px !important}
.padding-bottom-15{padding-bottom: 15px !important}
.padding-bottom-20{padding-bottom: 20px !important}
.padding-bottom-30{padding-bottom: 30px !important}
.padding-bottom-40{padding-bottom: 40px !important}
.padding-bottom-50{padding-bottom: 50px !important}

.padding-top-0{padding-top: 0px !important}
.padding-top-5{padding-top: 5px !important}
.padding-top-10{padding-top: 10px !important}
.padding-top-15{padding-top: 15px !important}
.padding-top-15{padding-top: 15px !important}
.padding-top-20{padding-top: 20px !important}
.padding-top-30{padding-top: 30px !important}
.padding-top-40{padding-top: 40px !important}
.padding-top-50{padding-top: 50px !important}

h1,h2,h3,h4,h5,h6{
	font-family: 'open_sansregular','tahoma';
	color: #414042;
}

h4{font-size: 16px;}

.t-white{color: #fff !important}
.t-lightgrey{color: #d9d9d9 !important}
.t-black{color: #000 !important}
.t-violet{color: #840080 !important;}
.t-violet-bg{background-color: #840080 !important;color: #fff;}
.t-green{color: #39b549 !important}
.t-green-bg{background-color: #39b549 !important;color: #fff;}
.t-yellow{color: #faaf40 !important}
.t-orange{color: #f7941d !important}
.t-orange-bg{background-color: #f7941d !important;color: #fff;}
.t-red{color: #de0301 !important}
.t-red-bg{background-color: #de0301 !important;color: #fff;}
.t-grey{color: #d9d9d9 !important}
.t-grey-bg{background-color: #d9d9d9 !important;color: #fff}
.t-darkgrey{color: #414042 !important}
.t-darkgrey-bg{background-color: #414042 !important;color: #fff}

.site-min-height{min-height: 700px;}
.header { -webkit-box-shadow: rgba(0,0,0,0.10) 0px 4px 7px; -moz-box-shadow: rgba(0,0,0,0.10) 0px 4px 7px; box-shadow: rgba(0,0,0,0.10) 0px 4px 7px; }

a.logo { width:267px; margin-top: 10px; }
a.logo img { width:100%; }

.white-bg { border-bottom:none; }

#sidebar { background: #414042; -webkit-transition: 0.6s margin-left cubic-bezier(0.23,1,0.32,1);
  -moz-transition: margin-left 0.6s cubic-bezier(0.23,1,0.32,1);
  transition: 0.6s margin-left cubic-bezier(0.23,1,0.32,1);}
#main-content{
	position: fixed;
	height: 100%;
	width: calc(100% - 210px);
	background-color:#f1f2f7;
    -webkit-transition: 0.6s all cubic-bezier(0.23,1,0.32,1);
    -moz-transition: all 0.6s cubic-bezier(0.23,1,0.32,1);
    transition: 0.6s all cubic-bezier(0.23,1,0.32,1);}
}
.sidebar-closed #main-content {margin-left: 0px;width: 100%}
.sidebar-closed #main-content {width: 100%}

.sidebar-toggle-box .fa-bars { color:#000; }

.table-responsive{border: none;}
.nicescroll-rails{background-color: transparent !important}
.nicescroll-cursors{background-color: #840080 !important;height: 4px !important}
/* ------------------------------------------------ */
/* ------------------- Header --------------------- */
/* ------------------------------------------------ */
.header{padding-left: 75px;top:-1px;}
.header .top-nav{margin-top: 9px;} 
.sidebar-toggle-box{
	background-color: 
	#d9d9d9;width: 60px;
	height: 60px;position: 
	absolute;left: 0px;
	padding-right: 0px;
	margin-top:0px;
	text-align: center;
	-webkit-transition: 0.2s background-color cubic-bezier(0.23,1,0.32,1);
    -moz-transition: background-color 0.2s cubic-bezier(0.23,1,0.32,1);
    transition: 0.2s background-color cubic-bezier(0.23,1,0.32,1);
}
.log-arrow-up.violet{background: url(../img/arrow-up-v.png) no-repeat;}
.sidebar-closed .sidebar-toggle-box{background-color: #fff}
.sidebar-toggle-box .fa-bars{font-size:26px;line-height: 60px;color:#000}
.top-nav .badge{position: absolute;right: -2px;top: 0px;border: 2px solid #fff}
.top-nav ul.top-menu > li.header-icon > a{padding: 0px;border: none !important;}
.top-nav ul.top-menu > li.header-icon i{line-height: 44px;font-size: 20px;color:#56575b;margin-left: 0px;margin-right: 12px;cursor: pointer;}
.top-nav ul.top-menu > li.header-icon i:hover{color:#717276;}
.top-nav ul.top-menu > li.dropdown a.dropdown-toggle {height: 44px;border:solid 1px #d9d9d9 !important;}
.top-nav ul.top-menu > li.dropdown a.dropdown-toggle img{vertical-align: middle;margin-right: 3px;}
.top-nav ul.top-menu > li.dropdown a.dropdown-toggle span{display: inline-block;padding-right: 8px;font-size: 11px;vertical-align: middle;}
.top-nav ul.top-menu > li.dropdown a.dropdown-toggle i{vertical-align: middle;}
.top-nav ul.top-menu > li.dropdown .dropdown-toggle img{border-radius: 30px;width: 32px;}

.top-nav ul.top-menu .dropdown-menu.extended.contact{left: -215px;top:40px;border-radius: 0px;width: 260px !important}
.top-nav ul.top-menu .dropdown-menu.extended.contact .notify-arrow{left: auto;right: 27px;border-color: transparent transparent #840080;
    border-bottom-color: #840080 !important;
    border-top-color: #840080 !important;}
.dropdown-menu.extended li p{border-radius: 0px;-webkit-border-radius:0px;padding-left: 20px;padding-right: 20px}
.dropdown-menu.extended li a{padding: 15px 20px !important;padding-right: 10px; color: #000;}
.dropdown-menu.inbox li a:hover{background-color: #fff !important}
.dropdown-menu.inbox li a .photo img{border-radius: 50px;margin-right: 8px}
.dropdown-menu.inbox li a .subject{padding-top: 3px}
.dropdown-menu.inbox li a .name{font-size: 11px;font-family: 'open_sanssemibold'}
.dropdown-menu.inbox li a .tel{font-family: 'open_sansregular';font-size: 10px}

.top-breadcrumb{height: 60px;position: absolute;display: inline-block;line-height: 60px;padding-left: 70px;}
.top-breadcrumb img{width: 22px;position: relative;display: inline-block;vertical-align: middle;top: -3px;}
.top-breadcrumb i{font-size: 24px;padding-left:7px;padding-right:5px;vertical-align: middle;position: relative;middle;top: -3px;}
.top-breadcrumb a{position: relative;font-family: 'open_sansregular';font-size: 14px;color: #57585b}
/* ------------------------------------------------ */
/* ------------------- Scroll -------------------- */
/* ------------------------------------------------ */
.mCSB_container{margin-right: 0px !important;}
.mCSB_scrollTools{width: 11px;background-color: #dfdde2;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: #840080;width: 6px;}
.mCS-dark.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{background-color: #840080;}
.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{background-color: transparent;}
/* ------------------------------------------------ */
/* ------------------- Sidebar -------------------- */
/* ------------------------------------------------ */ 
ul.sidebar-menu{margin-top: 60px;}
ul.sidebar-menu li{margin-left: 0px;margin-right: 0px;border-bottom: 1px solid #57585b;margin-bottom: 0px}
ul.sidebar-menu li a{font-family: 'open_sanssemibold';font-size:14px;padding-left: 15px;}
ul.sidebar-menu li.active,ul.sidebar-menu li a:hover{background-color: #57585c}
ul.sidebar-menu li a.active{background-color: #57585c}
ul.sidebar-menu li a:hover i,ul.sidebar-menu li a.active i,ul.sidebar-menu li a:visited i{color: #fff}
ul.sidebar-menu li.active a{color: #ffffff}
.sidebar-menu li a .icon,.sidebar-menu .sidebar-top-nav .icon{
	width: 30px;
	height: 30px;
	margin-right: 10px;
	display: inline-block;
	vertical-align: middle;
}
.sidebar-menu li a .icon1,.sidebar-menu .sidebar-top-nav .icon1{
	background: url('../images/icon-1.png') no-repeat;background-size: 30px;
}
.sidebar-menu li a .icon2{
	background: url('../images/icon-2.png') no-repeat;background-size: 30px;
}
.sidebar-menu li a .icon3{
	background: url('../images/icon-3.png') no-repeat;background-size: 30px;
}
.sidebar-menu li a .icon4{
	background: url('../images/icon-4.png') no-repeat;background-size: 30px;
}
.sidebar-menu li a .icon-planner{
	background: url('../images/icon-planner.png') no-repeat;background-size: 30px;
} 
.sidebar-menu li.active a .icon1,.sidebar-menu li a:hover .icon1,
.sidebar-menu .sidebar-top-nav a:hover .icon1,.sidebar-menu .active .sidebar-top-nav a .icon1{
	background: url('../images/icon-1w.png') no-repeat;background-size: 30px;
}
.sidebar-menu li.active a .icon2,.sidebar-menu li a:hover .icon2{
	background: url('../images/icon-2w.png') no-repeat;background-size: 30px;
}
.sidebar-menu li.active a .icon3,.sidebar-menu li a:hover .icon3{
	background: url('../images/icon-3w.png') no-repeat;background-size: 30px;
}
.sidebar-menu li.active a .icon-planner,.sidebar-menu li a:hover .icon-planner{
	background: url('../images/icon-plannerw.png') no-repeat;background-size: 30px;
}
ul.sidebar-menu .language-button{border-bottom: none;margin-left: 0px;}
ul.sidebar-menu .language-button > a{cursor: pointer;}
ul.sidebar-menu .language-button > a:hover,ul.sidebar-menu .language-button > a.active{background-color: transparent}
ul.sidebar-menu .language-box{background-color: #373638;border-top: 1px solid #353436;border-bottom: 1px solid #494a4d}
ul.sidebar-menu .language-item{border-radius: 0px !important;}

/* ------------------ Manager Sidebar ------------------- */
.sidebar-top-nav{border-bottom: 2px solid #707070; display: inline-block !important;width: 100%;height: 62px !important;margin-bottom: -4px !important}
.sidebar-top-nav > li{width: 50%;float: left;text-align: center;height: 60px;line-height: 60px;}
.sidebar-top-nav > li.active{background-color: #57585b !important;border: none;}
.sidebar-top-nav > li a{transition:none !important;padding-left: 0px !important;border:none;}
.sidebar-top-nav > li.active a,.sidebar-top-nav > li a:hover{border: none !important;background-color: transparent !important;}
.sidebar-top-nav > li a .icon{margin-right: 0px !important}
/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
	/*margin-top: 60px;*/
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 120px);
    overflow: auto;
    text-align: center;
}
.content-container{
	padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	max-width: 1300px;
	display: inline-block;
	text-align: left;
	width: 100%;
}
.save-button-container{
	display: inline-block;
    width: 100%;
    position: relative;
    left: -2px;
}
.sub-topbar{
	width: 100%;
	min-height: 45px;
	color: #56575b;
	background-color: #d9d9d9;
	padding-left: 15px;
	padding-right: 15px;
	font-family: 'open_sansbold';
	/*line-height: 40px;*/
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 17px;
	position: relative;
}
.sub-topbar .collapse-button{float: left;position: absolute;width: calc(100% - 70px);}
.sub-topbar .collapse-button.collapsed i{-ms-transform: rotate(-90deg);-webkit-transform: rotate(-90deg);transform: rotate(-90deg);}
.subbar-edit{float: right;color: #000;}
.subbar-edit a{color: #56575b;padding-left: 8px;padding-right: 8px;cursor: pointer;}

/* ------------------------------------------------ */
/* ------------------ Panel ----------------------- */
/* ------------------------------------------------ */
.panel{
	box-shadow:  0px 2px 8px rgba(0,0,0,0.08);
	border-radius: 5px;
}
.panel-heading{font-family:'open_sansregular';color: #9c9b9b;font-size: 15px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.panel-heading.small-heading{
	font-family:'open_sanssemibold';
	font-size: 18px;
	background-color: #840080;
	color: #fff;
}
.panel-heading.small-heading span.thin{font-family:'open_sansregular'}
.panel-heading.big-heading{
	padding-top: 25px;
	padding-bottom: 20px;
	padding-left: 30px;
	text-transform: uppercase;
}
.panel-heading .heading-back{float: right;padding-right: 15px;position: relative;color: #6c6d70}
.panel-heading .heading-back i{font-size: 24px;position: absolute;left:-15px;top: -3px;}

.panel-heading .heading-dropdown{float: right;padding-right: 15px;position: relative;color: #6c6d70}
.panel-heading .heading-dropdown select{width: 150px;height: 35px;margin-top: -8px}

.panel-heading  .right-button-container{float: right;position: relative;top: -7px;text-transform: none;text-align: center;}

.panel-body{padding-left: 15px;padding-right: 15px;padding-top: 20px;}

/* ------------------------------------------------ */
/* ------------------ Loading  -------------------- */
/* ------------------------------------------------ */

.loading-page{width: 100%;height: 100%;position: fixed;z-index: 1000;background-color: rgba(255,255,255,0.95);top: 0px;left: 0px;-webkit-transition: 0.6s all cubic-bezier(0.23,1,0.32,1);-moz-transition: all 0.6s cubic-bezier(0.23,1,0.32,1);transition: 0.6s all cubic-bezier(0.23,1,0.32,1);opacity: 0;display: none;}
.loading-page.active{opacity: 0.7}
.loading-page img{position: absolute;left: 50%;margin-left: -55px;top: 50%;margin-top: -70px;width: 110px}
/* ------------------------------------------------ */
/* ------------------ MENU ------------------------ */
/* ------------------------------------------------ */

.menu-tab{
	width: 100%;
	height: 60px;
	background-color: #fff;
	display: inline-block;
	text-align: center;
	margin-top: 59px;
}
.menu-tab-item{
	width: 210px;
	height: 60px;
	display: inline-block;
	line-height: 60px;
	font-family: 'open_sansregular';
	font-size: 18px;
	color: #9c9b9b;
	position: relative;
	padding-left: 8px;
	padding-right: 8px;
}
.menu-tab-item.active{border-bottom: 4px solid #840080;color: #840080;font-family: 'open_sanssemibold'}
.menu-tab-item.high{height: 90px;line-height: 90px}
.menu-tab-item.high span{line-height: 20px;display: inline-block;vertical-align: middle;}
.menu-tab-item .right-line{height: 35px;width: 1px;background-color: #d9d9d9;position: absolute;right: 0px;bottom: 23px;}
.page-tab-item{background-color: #d9d9d9;height: 30px;position: relative;width: 100%;display: inline-block;}
.page-tab-item span{
	font-family: 'open_sansbold';
	line-height: 31px;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 3px;
	font-size: 12px;
	z-index: 10;
	position: relative;
}
.page-tab-item .arrow{
	width: 20px;
	height: 20px;
	background-color: #840080;
	position: absolute;
	bottom: -7px;
	left: 50%;
	margin-left: -10px;
	-ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
    display: none;
    z-index: 1;
}
.page-tab-item.active .arrow{
	display: block;
}
.page-tab-item.active{
	background-color: #840080;
}

/* ------------------------------------------------ */
/* ------------------ ELEMENT --------------------- */
/* ------------------------------------------------ */

.display-text{
	background-color: #f9f9f9;
	width: 100%;
	margin-bottom: 10px;
	min-height: 60px;
	line-height: 60px;
}
.display-text .left{
	font-family: 'open_sansbold';
	color: #57585b;
	font-size: 13px;
	line-height: normal;
	width:100px;
	display: inline-block;
	padding-left: 10px;
	vertical-align: middle;
}
.display-text .left img{
	width: 40px;
	height: 40px;
	border-radius: 40px;
}
.display-text .middle{
	width: 5px;
	display: inline-block;
	vertical-align: middle;
}
.display-text .right{
	font-family: 'open_sansregular';
	color: #9c9b9b;
	font-size: 13px;
	line-height: normal;
	width: calc(100% - 120px);
	display: inline-block;
	vertical-align: middle;
	overflow: visible;
}
.display-text.with-form{
	background-color: transparent;
	margin-bottom: 0px;
	line-height: 16px;
	min-height: auto;
	margin-bottom: 12px;
}
.display-text.with-form .left{
	width: 100px;
}
.display-text.with-form .right{
	width: calc(100% - 105px);
}
.display-text .help-block{
	line-height: 16px;padding-top: 0px;margin-bottom: 0px;margin-left: 100px;font-size: 11px;padding-left: 3px;display: inline-block;
	}
.tooltip-inner{background-color: #fff !important;border: 1px solid #d9d9d9;box-shadow: 0px 2px 7px rgba(0,0,0,0.25);color: #393939;font-family: 'open_sansregular'}
.tooltip-arrow{border-top-color: #fff !important;bottom: 1px !important;}
/* ------------------------------------------------ */
/* ------------------ Button ---------------------- */
/* ------------------------------------------------ */

.btn{font-family: 'open_sanssemibold';padding-left: 30px;padding-right: 30px;}
.btn:active,.btn:focus{color: #fff;}
.btn:hover{color: #eee}

.save-button-container .btn{margin-left: 15px;margin-right: 11px;width: 180px;height: 50px;font-size: 20px;margin-bottom: 15px;}
/* ------------------------------------------------ */
/* ------------------ Form ------------------------ */
/* ------------------------------------------------ */
.form-group label{
	font-family:'open_sanssemibold';
	color: #57585b;
}
.form-control:focus{
	border: 1px solid #840080;
}
input.form-control{
	padding-left:10px;
}
input.form-control.error{
	border:1px solid #de0301!important;
	color: #de0301 !important;
}
select.form-control{
	font-size: 12px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
background: rgba(0, 0, 0, 0) url("../images/dropdown.png") no-repeat scroll right 7px center / 8px 4px !important;
}
.telephone-form{width: 100%;position: relative;}
.telephone-form .telephone-left{
	width: 77px;
	margin-right: 5px;
	display: inline-block;
	padding-left: 5px;
	vertical-align: top;
	float: left;
}
.telephone-form .telephone-right{
	width: calc(100% - 86px);
	margin-left: 4px;
	display: inline-block;
	vertical-align: top;
	float: left;
}
.display-text.with-form .right .iconic-input.right{width: 100%}
.iconic-input i.delete-button{color: #56575b;cursor: pointer;}

textarea.form-design{width: 100%;border: 1px solid #d9d9d9;border-radius: 5px;resize:vertical;background-color: #f1f2f7;height: 95px;padding: 5px;}

.form-group .date input.form-control{border-left: 1px solid #d9d9d9;background-color: #fff ;width: calc(100% - 43px);border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
.form-group .date input.form-control:focus{border: 1px solid #d9d9d9}
.form-group .date .input-group-btn:last-child{margin-right: 39px}
.form-group .date .input-group-btn:last-child>.btn{background-color: #f4f4f4;border: 1px solid #d9d9d9;border-left: none;color: #959595;width: 44px;padding-top: 6px;padding-bottom: 6px}
.form-group .date .input-group-btn:last-child>.btn:hover{background-color: #d9d9d9;color: #393939}
.form-group .date .input-group-btn:last-child>.btn i{display: inline-block;}
select.form-control.right-dropdown{
	background: url('../images/icon-dropdown.png') no-repeat top right !important;
	background-size: 42px 100% !important;

}

.note-editor{border: 1px solid #d9d9d9 !important}
.note-editor .note-toolbar{border-bottom: 1px solid #d9d9d9 !important;background-color: #f1f2f7 !important}
.note-editable{font-family: 'arial'}
.note-toolbar .btn{padding-left: 10px !important;padding-right: 10px !important}

.intl-tel-input{width: 100%;}
.intl-tel-input input{width: 100%;height: 34px;border-radius: 4px;border: 1px solid #d9d9d9 !important}
.intl-tel-input .flag-container{box-shadow: none;outline: none;}
.telephone-form.error .intl-tel-input input{border: 1px solid #de0301 !important;color: #de0301 !important}
/* ------------------------------------------------ */
/* ------------------ Radio ----------------------- */
/* ------------------------------------------------ */

input[type="radio"] {display:none}
input[type="radio"] + label {
	font-family: 'open_sanslight';
    font-size:12px;
    color: #9c9b9b;
}
input[type="radio"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin:-1px 9px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
    position: relative;
    background-color:#f1f2f7;
    border: 1px solid #ddd;
    -webkit-box-shadow:inset 0 8px 4px -6px rgba(0,0,0,0.15);
	   -moz-box-shadow:inset 0 8px 4px -6px rgba(0,0,0,0.15);
	        box-shadow:inset 0 8px 4px -6px rgba(0,0,0,0.15);
}
input[type="radio"]:checked + label span:before{
	content: ' ';
	position: absolute;
	width: 8px;
	height: 8px;
	left: 3px;
	top: 3px;
	background-color: #840080;
	border-radius: 12px;
}
/* ------------------------------------------------ */
/* ------------------ Checkbox -------------------- */
/* ------------------------------------------------ */

input[type="checkbox"] {display:none}
input[type="checkbox"] + label {
	font-family: 'open_sanslight';
    font-size:12px;
    color: #9c9b9b;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:16px;
    height:16px;
    margin:-1px 9px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  3px;
    border-radius:  3px;
    position: relative;
    background-color:#f1f2f7;
    border: 1px solid #ddd;
    -webkit-box-shadow:inset 0 8px 4px -6px rgba(0,0,0,0.1);
	   -moz-box-shadow:inset 0 8px 4px -6px rgba(0,0,0,0.1);
	        box-shadow:inset 0 8px 4px -6px rgba(0,0,0,0.1);
}
input[type="checkbox"]:checked + label span:before{
	content: "\f00c";
	position: absolute;
	width: 8px;
	height: 8px;
	left: 0px;
	top: 0px;
	color: #840080;
	border-radius: 12px;
	font: normal normal normal 14px/1 FontAwesome;
}
.datepicker td.active:hover, .datepicker td.active:hover:hover, .datepicker td.active:active, .datepicker td.active:hover:active, .datepicker td.active.active, .datepicker td.active:hover.active, .datepicker td.active.disabled, .datepicker td.active:hover.disabled, .datepicker td.active[disabled], .datepicker td.active:hover[disabled]{
	background-color: #840080 !important;
}
.datepicker.datepicker-orient-bottom:before{top: auto;bottom: -7px;-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
.datepicker.datepicker-orient-bottom:after{top: auto;bottom: -6px;;-ms-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}
/* ------------------------------------------------ */
/* ------------------- Modal ---------------------- */
/* ------------------------------------------------ */

.modal-header{background-color: #840080;}
.modal-header h4.modal-title{font-family: 'open_sanssemibold';color: #fff}
.modal-body{display: inline-block;width: 100%}
.modal-body textarea{height: 130px}

/* ------------------------------------------------ */
/* ------------------- Footer --------------------- */
/* ------------------------------------------------ */

.site-footer{
	padding-left: 210px;
	background: transparent;
	padding-bottom: 30px;
	-webkit-transition: 0.6s padding-left cubic-bezier(0.23,1,0.32,1);
    -moz-transition:  padding-left 0.6s cubic-bezier(0.23,1,0.32,1);
    transition: 0.6s  padding-left cubic-bezier(0.23,1,0.32,1);
    display: none;
}
.sidebar-closed .site-footer{padding-left: 0px;}
.footer-logo{
	height: 25px;
	display: inline-block;
	margin-left: 12px;
	margin-right: 12px;
}
.footer-logo img{height: 100%;}
@media (min-width: 1200px){

/* ------------------ UNIVERSAL ------------------- */
	.content-container{
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
	.header a.logo { width:200px; margin-top: 13px; }
	.top-breadcrumb { padding-left: 30px;}
}

@media (min-width: 768px){
}
@media (min-width: 0px) and (max-width: 767px) {
	.header{position: fixed}
	#sidebar{position: fixed !important}
	#sidebar > ul > li{padding-left: 20px;padding-top: 15px;padding-bottom: 15px;margin-left: 0px;margin-right: 0px;margin-bottom: 0px;}
	ul.sidebar-menu .language-button{padding-left: 0px !important;}
	ul.sidebar-menu .language-button > a{padding-left: 30px !important;margin-bottom: 10px;}
	ul.sidebar-menu li a:hover,ul.sidebar-menu li a:visited{background-color: transparent}
	#main-content{width: 100%;position: relative;}
	.fixed-content-container{position: relative;}
	/*-------------- header -------------*/
	.sidebar-closed .sidebar-toggle-box{background-color: #fff}
	.sidebar-toggle-box .fa-bars{font-size:26px;line-height: 60px;color:#000}
	.top-nav ul.top-menu > li.header-icon {float: left !important;}
	.top-nav ul.top-menu > li.header-icon > a{;padding-top:1px}
	.top-nav ul.top-menu > li.header-icon i{}
	.top-nav ul.top-menu > li.header-icon i:hover{}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle {border:none !important;padding-left: 0px;padding-right: 6px;}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle img{vertical-align: middle;margin-right: 3px;}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle span{display: none}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle i{vertical-align: middle;}
	.top-nav ul.top-menu > li.dropdown .dropdown-toggle img{border-radius: 30px;}
	/*-------------- Panel -------------*/
	.panel-heading .heading-back{padding-right: 0px}
	.panel-heading .heading-back i{font-size: 17px;top: 0px;left: -12px;}
	.panel-heading.big-heading{padding-top: 18px;padding-bottom: 15px;font-size: 13px}
	.panel-heading.big-heading{padding-left: 15px}
	.panel-heading.big-heading span{max-width: 180px;width: 100%;position: relative;display: inline-block}
	.panel-body{padding-left: 0px;padding-right: 0px}

	
	.panel-heading.small-heading{font-size: 14px}
	.panel-heading  .right-button-container{float: none;position: relative;top: 0px;width: 100%;padding-top: 10px;margin-bottom: -10px;border-top: 1px solid #EFF2F0;left: -15px;width: calc(100% + 30px);margin-top: 20px;padding-left: 15px;padding-right: 15px;}

	.panel-heading .heading-dropdown{padding-right: 0px}
	.panel-heading .heading-dropdown select{width: 125px;height: 30px;margin-top: -7px;background-size: 32px 100% !important;}
	/*-------------- button -------------*/
	.save-button-container .btn{height: 40px;font-size: 18px;width: 250px;}
	/* ------------- universal ------------ */
	.content-container{
		margin-top: 0px;
	}
	/* ------------- MENU ------------ */

	.menu-tab{
		width: 100%;
		height: 60px;
		background-color: #fff;
		display: inline-block;
		text-align: center;
		position: relative;
		top: 0px;
		z-index: 10;}
	.menu-tab-item.high{height: 50px;line-height: 50px;font-size: 13px;width: 150px;margin-top: 10px;padding-left: 5px;padding-right: 5px;}
	.menu-tab-item.high span{line-height: 15px;display: inline-block;vertical-align: middle;}
	.menu-tab-item .right-line{bottom: 10px;height: 22px;}
	.page-tab-item span{font-size: 10px;letter-spacing: 1px;}

	/*-------------- footer -------------*/
	.site-footer{padding-left: 0px;padding-bottom: 15px}
	.footer-logo{height: 15px}
}

@media (min-width: 568px) and (max-width: 767px) {
	.header a.logo { width:220px; margin-top: 16px; }
}

@media (min-width: 375px) and (max-width: 567px) {
	/*-------------- header -------------*/
	.header{padding-left: 70px;}
	.header .logo{width: 160px;margin-top: 16px;}
	.sidebar-closed .sidebar-toggle-box{background-color: #fff}
	.sidebar-toggle-box .fa-bars{font-size:26px;line-height: 60px;color:#000}
	.top-nav ul.top-menu > li.header-icon {float: left !important;}
	.top-nav ul.top-menu > li.header-icon > a{padding-right: 7px}
	.top-nav ul.top-menu > li.header-icon i{margin-right: 5px;}
	.top-nav ul.top-menu > li.header-icon i:hover{}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle {border:none !important;padding-left: 0px;padding-right: 0px;}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle img{vertical-align: middle;margin-right: 3px;}
	.top-nav ul.top-menu > li.dropdown .dropdown-toggle img{border-radius: 30px;}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle i{display: none;}
}

@media (min-width:0px) and (max-width: 374px) {
	/*-------------- header -------------*/
	.header{padding-left: 45px}
	.header .logo{width: 150px;margin-top: 16px;}
	.page-tab-item span{font-size: 9.4px;letter-spacing: 0px;}
	.sidebar-toggle-box{width: 40px;}
	.sidebar-closed .sidebar-toggle-box{background-color: #fff}
	.sidebar-toggle-box .fa-bars{font-size:26px;line-height: 60px;color:#000}
	.top-nav ul.top-menu > li{margin-left: 5px;}
	.top-nav ul.top-menu > li.header-icon {float: left !important;}
	.top-nav ul.top-menu > li.header-icon > a{padding-right: 7px;padding-top: 2px}
	.top-nav ul.top-menu > li.header-icon i{margin-right: 2px;}
	.top-nav ul.top-menu > li.header-icon i:hover{}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle {border:none !important;padding-left: 0px;padding-right: 0px;}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle img{vertical-align: middle;margin-right: 0px;}
	.top-nav ul.top-menu > li.dropdown a.dropdown-toggle i{display: none;}
	.top-nav ul.top-menu > li.dropdown .dropdown-toggle img{border-radius: 30px;}

}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 568px) and (max-width: 768px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 568px) and (max-width: 768px),
only screen and (min-resolution: 192dpi) and (min-width: 568px) and (max-width: 768px),
only screen and (min-resolution: 2dppx) and (min-width: 568px) and (max-width: 768px) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 480px) and (max-width: 567px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 480px) and (max-width: 567px),
only screen and (min-resolution: 192dpi) and (min-width: 480px) and (max-width: 567px),
only screen and (min-resolution: 2dppx) and (min-width: 480px) and (max-width: 567px) {
    
}

@media 
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (-moz-min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width:300px) and (max-width: 479px),
only screen and (min-device-pixel-ratio: 2) and (min-width:300px) and (max-width: 479px),
only screen and (min-resolution: 192dpi) and (min-width:300px) and (max-width: 479px),
only screen and (min-resolution: 2dppx) and (min-width:300px) and (max-width: 479px) {
    
}