.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}

/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
	/*margin-top: 60px;*/
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 181px);
    margin-top: -3px;
    overflow: scroll;
}
.menu-tab{height: 120px}
.table-striped1 th{background-color: #d9d9d9;border-left: 1px solid #fff;border-bottom: none !important;}
.table-striped1 thead tr{border: none !important;}
.table-striped1 > tbody > tr:nth-of-type(odd){background-color: #f4f4f4 !important;border-bottom: none;}
.table-striped1 > tbody > tr > td{border: none;font-family: 'open_sansregular'}


.icon-meaning{width: 100%;margin-top: 15px;position: relative;display: inline-block;margin-bottom: 20px;}
.icon-meaning .meaning-item{font-size: 12px;vertical-align: middle;color: #6c6d70;font-family: 'open_sansregular';padding-right: 20px;margin-bottom: 9px;display: inline-block;}
.icon-meaning .meaning-item img{width: 20px;margin-right: 5px;position: relative;top: -2px;}

/* ------------------------------------------------ */
/* ------------------ Calendar ------------------- */
/* ------------------------------------------------ */
.panel-body.calendar{padding: 15px;}
.btn.calendar-button{width: 170px;padding-left: 0px;padding-right:0px;}
.fc-state-default, .fc-state-default .fc-button-inner{background-color: #f1f2f7 !important}
.fc-state-active, .fc-state-active .fc-button-inner{border: none;}
.fc-state-active, .fc-state-active .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner{background: #d9d9d9 !important;color: #000 !important}
.fc-event-skin{background-color: #57585b !important;border-color: transparent !important;}
.fc-corner-right .fc-event-inner{border: none;}
.fc-header .fc-corner-left{border-top-left-radius: 4px !important;border-bottom-left-radius: 4px !important}
.fc-grid th{background-color: #9c9b9b !important;color: #fff;}
.fc-content .fc-event{padding: 3px 4px;padding-top:1px;font-family: 'open_sansregular';margin-bottom: 3px;}
.fc-content .fc-event.holiday{background-color: #d9d9d9 !important}
.fc-event-icons img{width: 14px;margin-left: 5px;margin-right: 5px;}
.fc-event.holiday .fc-event-inner{background-color: #d9d9d9 !important;color: #000 !important}
tr td.fc-first,tr td.fc-last{background-color: #f1f2f7 !important}
.icon-meaning{width: 100%;margin-top: 15px;position: relative;display: inline-block;margin-bottom: 20px;}
.icon-meaning .meaning-item{font-size: 12px;vertical-align: middle;color: #6c6d70;font-family: 'open_sansregular';padding-right: 20px;margin-bottom: 9px;display: inline-block;}
.icon-meaning .meaning-item img{width: 20px;margin-right: 5px;position: relative;top: -2px;}

/* ------------------------------------------------ */
/* ------------------ Manager Planning------------- */
/* ------------------------------------------------ */

.planner-panel{min-height: 550px}
.panel-body.team-planner{padding: 15px;padding-bottom: 50px;}
.planner-table {text-align: center;width: 100%;}
.fc-header.team-planner-header{margin-bottom: -40px;}
.fc-header.team-planner-header .fc-button-next{left: -4px;}
.fc-header.team-planner-header .fc-header-right select{top: -52px;position: relative;float: right;}
.planner-table img{width: 16px;}
.planner-table thead .table-day td{border: 1px solid #d9d9d9;min-width: 25px;height:28px;font-size: 9px;vertical-align: middle;background-color: #f1f2f7}
.planner-table thead .table-day td.weekend{color: #ccc}
.planner-table thead .table-day td.today{color:#840080}
.planner-table thead .table-day td:nth-child(1){border: none;background-color: transparent;}
.planner-table thead .table-date td{border: 1px solid #d9d9d9;height:28px;font-size: 11px;vertical-align: middle;background-color: #fff}
.planner-table thead .table-date td.weekend{color: #ccc}
.planner-table thead .table-date td.today{color:#840080}
.planner-table thead .table-date td:nth-child(1){border: none;background-color: #fff;}
.planner-table tbody .table-content td{border: 1px solid #d9d9d9;height:28px;font-size: 11px;vertical-align: middle;background-color: #fff}
.planner-table tbody .table-content td.weekend{background-color: #f1f2f7}
.planner-table tbody .table-content td:nth-child(1){text-align: left;background-color: #fff;padding-left:5px;padding-right: 5px;min-width: 180px;padding-top: 2px;padding-bottom: 2px; }
.planner-table tbody .table-content td:nth-child(1) img{display: inline-block;height: 22px;width: 22px;vertical-align: middle;border-radius: 22px;margin-right: 5px;}
.planner-table tbody .table-content td:nth-child(1) span{display: inline-block;vertical-align: middle;}
.planner-table tbody .disable-row td{height: 15px;}
.panel-body.team-planner .icon-meaning{position: absolute;bottom: 10px}


#leave-modal .modal-content{width: 370px;margin-left: 115px;margin-top: 110px}
#leave-modal .modal-header{background-color: #fff;border-bottom: 1px solid #e5e5e5}
#leave-modal .modal-header h4.modal-title{color: #414042;font-size: 18px;font-family: 'open_sansregular';text-transform: uppercase;letter-spacing: 1px;padding-top: 1px}
#leave-modal .modal-header .close{margin-top:3px !important;opacity: 1;color: #414042;}
#leave-modal .modal-body{padding-right: 30px;padding-left: 30px;padding-bottom: 10px}
#leave-modal .modal-body .leave-name-container{height: 50px;line-height: 50px;position: relative;font-size: 16px;margin-bottom:15px;display: inline-block;width: 100%}
#leave-modal .modal-body .leave-name-container img{height: 100%;margin-right: 10px;border-radius: 100px}
#leave-modal .modal-body p{position: relative;display: inline-block;width: 100%;font-family: 'open_sansregular';line-height: 22px;}
#leave-modal .modal-body p span.bold{font-family: 'open_sansbold'}
#leave-modal .modal-body img.attachment{margin-top: 5px;max-width: 100%}
#leave-modal .modal-body .radio-container{display: inline-block;width: 100%}
#leave-modal .modal-body input[type="radio"] + label{font-family: 'open_sanssemibold';color: #414042}
#leave-modal .modal-body textarea{height: 80px;resize:none;font-size: 12px;padding: 5px;}
#leave-modal .modal-footer{text-align: center;}
/* ------------------------------------------------ */
/* ------------------ Team Data ------------------- */
/* ------------------------------------------------ */
.panel-body.team-data{padding-bottom: 40px;}
.team-data-top{background-color: #d9d9d9;width: 100%;display: inline-block;height: 40px}
.team-data-top span{line-height: 40px;font-family: 'open_sanssemibold'}
.team-data-container{width: 100%;padding-left: 15px;padding-right: 15px;}
.team-data-item{border-bottom: 1px solid #d9d9d9;display: inline-block;width: 100%;padding-top: 2px;padding-bottom: 8px;}
.team-data-left{line-height: 100px;font-size: 15px;font-family: 'open_sanssemibold'}
.team-data-left img{width: 60px;border-radius: 50px;margin-right: 10px}
.team-data-center{line-height: 100px}
.review-link-container{background-color: #916c94;position: relative;border-radius: 4px;display: inline-block;width: 100%}
.review-link-container i{color: #fff;position: absolute;font-size: 25px;right: 15px;top: 13px}
.review-link-container h1{padding-left: 15px;color: #fff;margin-bottom:5px;padding-top: 10px;font-family:'open_sanssemibold';margin-top: 0px;font-size: 25px;letter-spacing: 1px;}
.review-link-container h5{padding-left: 15px;color: #fff;margin-top: 0px}
.review-link-container h6{padding-left: 15px;padding-right: 15px;color: #fff;border-top:1px solid #a789a9;padding-top: 5px;padding-bottom: 0px;line-height: 15px;min-height: 36px;margin-bottom: 8px;margin-top: 5px;font-size: 11px}
.review-link-container.active{background-color: #840080}
.review-link-container.active h6{border-top:1px solid #9d3399}
.review-link-container.myr-link{width: calc(50% - 5px);vertical-align: middle;}
.review-link-container.yer-link{width: calc(50% - 5px);vertical-align: middle;margin-left: 6px}
.team-data-right{display: inline-block;position: relative;line-height: 100px;padding-top: 9px;line-height: 1;width: 100%}
.team-data-right .btn{cursor: default;}
.team-data-right .btn:hover{color: #fff}
.team-data-right .progress{margin-top: 25px;margin-bottom: 6px;}
@media (min-width: 1300px) {
}
@media (min-width: 1200px) and (max-width: 1299px) {
	/* ------------------ Manager Planning------------- */
	.planner-table img{width: 14px;}
	.planner-table thead .table-day td{min-width: 23px;height:26px;font-size: 8px}
	.planner-table thead .table-date td{height:26px;font-size: 11px}
	.planner-table tbody .table-content td{height:26px;font-size: 11px}
	.planner-table tbody .table-content td:nth-child(1){min-width: 180px}
	.planner-table tbody .table-content td:nth-child(1) img{height: 19px;width: 19px;margin-right: 5px}
}


@media (min-width: 992px) and (max-width: 1199px) {
	/* ------------------ Manager Planning------------- */
	.planner-table img{width: 14px;}
	.planner-table thead .table-day td{min-width: 17px;height:22px;font-size: 7px}
	.planner-table thead .table-date td{height:23px;font-size: 10px}
	.planner-table tbody .table-content td{height:21px;font-size: 9px}
	.planner-table tbody .table-content td:nth-child(1){min-width: 145px}
	.planner-table tbody .table-content td:nth-child(1) img{height: 16px;width: 16px;margin-right: 2px}
	/* ------------------ Team Data ------------- */
	.team-data-left{font-size: 12px}
	.team-data-left img{margin-right: 5px}
}


@media (min-width: 768px) and (max-width: 991px) {
	/* ------------------ Manager Planning------------- */
	.planner-table-container{overflow: scroll;padding-bottom: 20px;}
	.planner-table img{width: 14px;}
	.planner-table thead .table-day td{min-width: 17px;height:22px;font-size: 7px}
	.planner-table thead .table-date td{height:23px;font-size: 10px}
	.planner-table tbody .table-content td{height:21px;font-size: 9px}
	.planner-table tbody .table-content td:nth-child(1){min-width: 145px}
	.planner-table tbody .table-content td:nth-child(1) img{height: 16px;width: 16px;margin-right: 2px}
	/* ------------------ Team Data ------------- */
	.team-data-item{padding-top: 8px;}
	.team-data-item > .col-xs-12{padding-left: 0px;padding-right: 0px;}
	.team-data-left{line-height: 60px;font-size: 14px}
	.team-data-right .btn{vertical-align: top;padding-left: 0px;padding-right: 0px;width: 100px}
	.team-data-right .progress-container{display: inline-block;padding-left: 10px;width: calc(100% - 104px);margin-bottom: 10px}
	.team-data-right .progress{margin-top: 1px}


}
@media (min-width: 0px) and (max-width: 767px) {

	/* ------------------ Calendar ------------------- */
	.panel-body.calendar{padding-left: 10px;padding-right: 10px;}
	.menu-tab{height: auto;}
	.fixed-content-container{position: relative;}
	#calendar{overflow: scroll;margin-top: 0px;}
	.fc-content{min-width: 550px;}
	.fc-header{min-width: 550px;height:40px;}
	.fc-header-left .fc-button{top: 0px !important}
	.fc-header-right{position: relative;left: auto;top: 0px;}
	.fc-header-title{margin-top: 0px;}
	.fc-header-title h2{margin-bottom: 0px;line-height: 26px !important;font-size: 18px !important;color:#959595;}
	.fc-button{position: relative;top: 0px}
	.fc-button-content{color:#646464 !important}
	.fc-header-right .fc-button{top: 0px !important;}
	.icon-meaning .meaning-item{display: block;}
	.menu-tab{height: auto;}
	.fixed-content-container{position: relative;}
	.icon-meaning .meaning-item{display: block;}

	/* ------------------ Manager Planning------------- */
	.panel-body.team-planner{padding-left: 10px;padding-right: 10px;}
	.fc-header.team-planner-header{min-width: 705px;margin-bottom: 20px !important;}
	.fc-header.team-planner-header .fc-header-right select{top: 0px;position: relative;height: 30px;width: 150px;}
	.planner-table-container{padding-bottom: 20px;}
	.planner-table img{width: 14px;}
	.planner-table thead .table-day td{min-width: 18px;height:22px;font-size: 7px}
	.planner-table thead .table-date td{height:23px;font-size: 10px}
	.planner-table tbody .table-content td{height:22px;font-size: 9px}
	.planner-table tbody .table-content td:nth-child(1){min-width: 143px}
	.planner-table tbody .table-content td:nth-child(1) img{height: 17px;width: 17px;margin-right: 2px}
	.panel-body.team-planner .icon-meaning .meaning-item{display: inline-block;}
	#leave-modal .modal-dialog{text-align: center;}
	#leave-modal .modal-content{width: 100%;max-width:340px;margin-left: 0px;margin-top: 0px;display: inline-block;text-align: left;}
	#leave-modal .modal-body{padding-left: 15px;padding-right: 15px;}

	/* ------------------ Team Data ------------- */
	.team-data-item{padding-top: 8px;}
	.team-data-item > .col-xs-12{padding-left: 0px;padding-right: 0px;}
	.team-data-left{line-height: 60px;font-size: 14px}
	.team-data-left img{width: 50px}
	.review-link-container i{top: 7px;font-size: 20px;right: 12px}
	.review-link-container h1{padding-left: 10px;font-size: 22px;padding-top: 5px;}
	.review-link-container h6{padding-left: 10px;margin-bottom: 7px}
	.team-data-right .btn{vertical-align: top;padding-left: 0px;padding-right: 0px;width: 100px}
	.team-data-right .progress-container{display: inline-block;padding-left: 10px;width: calc(100% - 104px);margin-bottom: 10px}
	.team-data-right .progress{margin-top: 1px}
	
}
@media (min-width: 568px) and (max-width: 767px) {
	
}

@media (min-width: 375px) and (max-width: 567px) {
	
}

@media (min-width:0px) and (max-width: 374px) {
	.review-link-container h6{font-size: 10px;}
}

