.wrapper { padding:0px; margin-top: 0px; }
.sidebar-closed .wrapper { padding:0px; margin-top: 0px; }
.main-content { position: relative; width:100%;}
/*.main-content { position: relative; width:100%; }
.main-content img { width:100%; }*/
.main-content{
	padding-top: 60px;
	overflow: hidden;
}
.sidebar-menu li.my-development a .icon{background: url('../images/icon-2w.png');background-size: 30px}
ul.sidebar-menu li.my-development{background-color: #57585c}
ul.sidebar-menu li.my-development a{color: #ffffff}

/* ------------------------------------------------ */
/* ------------------ UNIVERSAL ------------------- */
/* ------------------------------------------------ */
.main-content{
	text-align: center;
	/*margin-top: 60px;*/
}
.fixed-content-container{    
	position: absolute;
    width: 100%;
    height: calc(100% - 181px);
    margin-top: -3px;
    overflow: scroll;
}
.menu-tab{height: 120px}

@media (min-width: 1200px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
	
}


@media (min-width: 768px) and (max-width: 991px) {


}
@media (min-width: 0px) and (max-width: 767px) {
	
	.menu-tab{height: auto;}
	
}
@media (min-width: 568px) and (max-width: 767px) {
	
}

@media (min-width: 375px) and (max-width: 567px) {
	
}

@media (min-width:0px) and (max-width: 374px) {
	
}

